<div id="aboutProject">
	<div class="title">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<h1><lang>El proyecto <em>POCTEFEX-Alborán</em></lang></h1>
				</div>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<h2 class="center"><lang>_about introducción title</lang></h2>
					<p class="big"><lang>_about introducción text</lang></p>
				</div>
			</div>
			<div class="row">
				<a class="nav" id="<lang>descripcion</lang>"></a>
				<div class="col-sm-8 col-md-8">
					<h2><lang>_about descripción title</lang></h2>
					<p><lang>_about descripción text</lang></p>
					<div class="row">
						<div class="col-sm-7 col-md-7">
							<p><a href="#"><lang>_about descripción enlace</lang></a></p>
						</div>
						<div class="col-sm-5 col-md-5">
							<img src="/img/about/ALB_logo_proyecto_color-2x.png" width="220">
						</div>
					</div>
				</div>
				<nav class="col-sm-3 col-md-3 col-sm-offset-1 col-md-offset-1">
					<a class="nav" id="menu"></a>
					<ul>
						<li><a href="#<lang>descripcion</lang>"><lang>Descripción</lang></a></li>
						<li><a href="#<lang>promotores</lang>"><lang>Promotores</lang></a></li>
						<li><a href="#<lang>coordinación</lang>"><lang>Coordinación</lang></a></li>
						<li><a href="#<lang>contacto</lang>"><lang>Contacto</lang></a></li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="photoContainer">
			<div class="container">
				<div class="row">
					<div class="col-sm-9 col-md-9 photoHolder">
						<img src="/img/about/photo_isla.jpg">
					</div>
					<div class="col-sm-3 col-md-3">
						<p><lang>La isla de Alborán</lang></p>
						<p>EUO &copy; OCEANA Juan Cuetos</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<a class="nav" id="<lang>promotores</lang>"></a>
				<div class="col-sm-8 col-md-8">
					<h2><lang>_about promueve title</lang></h2>
					<p><lang>_about promueve text1</lang></p>
					<p><lang>_about promueve text2</lang></p>
					<p><lang>_about promueve text3</lang></p>
				</div>
				<div class="col-sm-3 col-md-3 col-sm-offset-1 col-md-offset-1 icons">
					<a href="http://www.poctefex.eu/" target="_blank"><img src="/img/about/ALB_logo_Cooperacion_color-2x.png" width="172"></a>
					<a><img src="/img/about/ALB_logo_FEDER_color-2x.png" width="173"></a>
				</div>
			</div>
			<div class="logos_socios_color row">
				<div class="col-sm-8 col-md-8">
					<div class="group">
						<p><lang>Socios beneficiarios</lang></p>
						<div>
							<a href="http://www.iucn.org/" target="_blank"><img src="/img/about/ALB_logo_IUCN_color-2x.png" width="67"></a>
							<a href="http://www.ual.es/" target="_blank"><img src="/img/about/ALB_logo_UniAlmeria_color-2x.png" width="147"></a>
							<a href="http://www.juntadeandalucia.es/medioambiente/site/portalweb/" target="_blank"><img src="/img/about/ALB_logo_junta_color-2x.png" width="161"></a>
						</div>
					</div>
					<div class="group">
						<p><lang>Socio participante</lang></p>
						<div>
							<a href="http://www.mpm.gov.ma/" target="_blank"><img src="/img/about/ALB_logo_DepPecheMaritime_color-2x.png" width="195"></a>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-ms-4">
					<div class="group">
						<p><lang>Con el apoyo de</lang></p>
						<a href="http://www.fundacion-biodiversidad.es/" target="_blank"><img class="large" src="/img/about/ALB_logo_FBiodiversidad_color-2x.png" width="303"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="photoContainer">
			<div class="container">
				<div class="row">
					<div class="col-sm-9 col-md-9 photoHolder">
						<img src="/img/about/photo_fondomarino.jpg">
					</div>
					<div class="col-sm-3 col-md-3">
						<p><lang>Fondos de la reserva de Alborán</lang></p>
						<p>&copy; OCEANA Juan Cuetos</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row relative">
				<a class="nav" id="<lang>coordinación</lang>"></a>
				<div class="col-sm-8 col-md-8">
					<h2><lang>_about coordinación title</lang></h2>
					<p><lang>_about coordinación text1</lang></p>
					<p><lang>_about coordinación text2</lang></p>
				</div>
				<div class="col-sm-3 col-md-3 col-sm-offset-1 col-md-offset-1 bottom">
					<a class="goBack" href="#menu"><lang>Ir al menú</lang></a>
				</div>
			</div>
			<div class="row relative">
				<a class="nav" id="<lang>contacto</lang>"></a>
				<div class="col-sm-8 col-md-8">
					<h2><lang>Contacto</lang></h2>
					<div class="row">
						<div class="col-sm-6 col-md-6">
							<p class="noMargin">Andrés Alcántara</p>
							<p><a href="mailto:andres.alcantara@iucn.org" target="_blank">andres.alcantara@iucn.org</a></p>
						</div>
						<div class="col-sm-6 col-md-6">
							<p class="noMargin">Lourdes Lázaro</p>
							<p><a href="mailto:lourdes.lazaro@iucn.org" target="_blank">lourdes.lazaro@iucn.org</a></p>
						</div>
					</div>
					<div class="row address">
						<div class="col-sm-12 col-md-12">
							<h3>UICN-Med</h3>
							<p>
								<lang>International Union for Conservation of Nature - Mediterranean Centre</lang>
							</p>
							<p>
								C/ Marie Curie 22, PTA,<br>
								29590 Campanillas, Málaga<br>
								<lang>España</lang>
							</p>
							<p>Tel. +34 952 028 430</p>
							<p><a href="http://iucn.org" target="_blank">http://iucn.org</a></p>
							<p><a href="http://www.iucn.org/mediterranean" target="_blank">http://www.iucn.org/mediterranean</a></p>
						</div>
					</div>
				</div>
				<div class="col-sm-3 col-md-3 col-sm-offset-1 col-md-offset-1 bottom">
					<a class="goBack" href="#menu"><lang>Ir al menú</lang></a>
				</div>
			</div>
		</div>
	</div>
	<div class="prefoot grey_light first">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-6">
					<p><lang>El <i>proyecto Alborán</i> tiene como finalidad poner en marcha un procedimiento de gestión ambiental común en el ámbito del Mar del Alborán, facilitando el intercambio de experiencias entre todos los actores y los grupos de interés. De esta manera, se persigue identificar y unificar las pioridades que mejoren la gestión del Mar de Alborán y su entorno.</lang></p>
				</div>
				<div class="logos_coop col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1">
					<a href="http://www.poctefex.eu/" target="_blank"><img src="/img/footer/ALB_logo_cooperacion_transf.svg"></a>
					<img src="/img/footer/ALB_logo_UE.svg">
					<p><lang>Cofinanciado por el Fondo Europeo de Desarrollo Regional (FEDER)</lang></p>
				</div>
			</div>
		</div>
	</div>
	<div class="prefoot grey_light">
		<div class="container">
			<div class="logos_socios row">
				<div class="col-sm-8 col-md-8">
					<div class="group">
						<p><lang>Socios beneficiarios</lang></p>
						<div>
							<a href="http://www.iucn.org/" target="_blank"><img src="/img/footer/ALB_logo_UICN.svg"></a>
							<a href="http://www.ual.es/" target="_blank"><img src="/img/footer/ALB_logo_Univ_Almeria.svg"></a>
							<a href="http://www.juntadeandalucia.es/medioambiente/site/portalweb/" target="_blank"><img src="/img/footer/ALB_logo_Junta.svg"></a>
						</div>
					</div>
					<div class="group">
						<p><lang>Socio participante</lang></p>
						<div>
							<a href="http://www.mpm.gov.ma/" target="_blank"><img src="/img/footer/ALB_logo_Maroc.svg"></a>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-ms-4">
					<div class="group">
						<p><lang>Con el apoyo de</lang></p>
						<div>
							<a href="http://www.fundacion-biodiversidad.es/" target="_blank"><img class="large" src="/img/footer/ALB_logo_FBiodiversidad.svg"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>