<div id="aboutProject">

	<div class="header">
		<a class="selected" href="#why"><lang>¿Por qué Espacio Alborán?</lang></a>
		<a href="#characteristics"><lang>Características</lang></a>
		<a href="#how"><lang>¿Cómo surge?</lang></a>
		<a href="#what"><lang>¿Qué puedes encontrar?</lang></a>
		<a href="#forWhat"><lang>¿Para qué sirve?</lang></a>
		<a href="#coordination"><lang>Coordinación</lang></a>
	</div>

	<section id="why">
		<div class="header">
			<h2><lang>¿Por qué Espacio Alborán?</lang></h2>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<h3><lang>La riqueza y su biodiversidad</lang></h3>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-8 col-md-8">
					<p>
						<lang>Las características físicas y climáticas que convergen en el espacio Alborán han formado una gran variedad de ecosistemas y han generado una abundancia de recursos naturales que hacen que sea un motor para la biodiversidad en el Mediterráneo. Todo ello lo convierte en uno de los hotspots más importantes para la biodiversidad en el Mediterráneo. Además es una zona de gran importancia geopolítica, científica y cultural. La Convención de Diversidad Biológica está en el proceso de declarar esta zona marina como EBSA (Área de significancia ecológica y biológica).</lang>
					</p>
					<p>
						<lang>Se trata de un espacio comprendido desde el Estrecho de Gibraltar hasta la línea imaginaria entre el Cabo de Gata (Almería, España) y el Cabo Fegalo (Orán, Argelia), así como las tierras continentales bañadas por este mar y directamente determinadas por las características del mismo y que se identifican bioclimáticamente con el piso Termomediterráneo</lang>
					</p>
				</div>
				<div class="col-sm-4 col-md-4">
					<img width="100%" src="/img/ALB_img_bg6_color.jpg">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<img width="100%" src="/img/about/ALB_img_about-mapa.jpg">
				</div>
			</div>
		</div>
	</section>

	<section id="characteristics">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<ul>

						<li>
							<span>Características Sociales</span>
							<div class="content">
								<p><lang>La población total que habita el Espacio Alborán suma 6.7 millones de personas, incluyendo municipios y provincias de Argelia, España y Marruecos. Fuentes: Instituto Nacional de Estadística, Office National des Statistiques Algérie y Haut Commissariat au Plan, Royaume du Maroc.</lang></p>
								<table>
									<thead>
										<tr>
											<th><lang>Localidad (* regiones o provincias)</lang></th>
											<th><lang>Habitantes</lang></th>
											<th><lang>Tasa de crecimiento hasta 2015</lang></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Adra</td>
											<td>24670</td>
											<td>6.36</td>
										</tr>
										<tr>
											<td>Albuñol</td>
											<td>6948</td>
											<td>11.79</td>
										</tr>
										<tr>
											<td>Algeciras</td>
											<td>118920</td>
											<td>6.86</td>
										</tr>
										<tr>
											<td>Al-hoceima</td>
											<td>370964</td>
											<td>1.6</td>
										</tr>
										<tr>
											<td>Almería</td>
											<td>194203</td>
											<td>6.88</td>
										</tr>
										<tr>
											<td>Almuñecar</td>
											<td>27391</td>
											<td>10.84</td>
										</tr>
										<tr>
											<td>Benalmadena</td>
											<td>66598</td>
											<td>45.77</td>
										</tr>
										<tr>
											<td>Berkan</td>
											<td>282702</td>
											<td>2</td>
										</tr>
										<tr>
											<td>Carboneras</td>
											<td>7838</td>
											<td>7.86</td>
										</tr>
										<tr>
											<td>Casares</td>
											<td>5954</td>
											<td>46.98</td>
										</tr>
										<tr>
											<td>Ceuta</td>
											<td>84263</td>
											<td>9.2</td>
										</tr>
										<tr>
											<td>El Ejido</td>
											<td>85961</td>
											<td>24.89</td>
										</tr>
										<tr>
											<td>Estepona</td>
											<td>67080</td>
											<td>22.61</td>
										</tr>
										<tr>
											<td>Fuengirola</td>
											<td>77525</td>
											<td>23.22</td>
										</tr>
										<tr>
											<td>Gibraltar</td>
											<td>28875</td>
											<td></td>
										</tr>
										<tr>
											<td>Gualchos</td>
											<td>4849</td>
											<td>91.06</td>
										</tr>
										<tr>
											<td>Los Barrios</td>
											<td>23167</td>
											<td>15.15</td>
										</tr>
										<tr>
											<td>Málaga</td>
											<td>569130</td>
											<td>1.94</td>
										</tr>
										<tr>
											<td>Manilva</td>
											<td>14587</td>
											<td>51.57</td>
											
										</tr>
										<tr>
											<td>Marbella</td>
											<td>139537</td>
											<td>12.23</td>
										</tr>

										<tr>
											<td>Melilla</td>
											<td>84621</td>
											<td>17.2</td>
										</tr>
										<tr><td>Mijas</td>
											<td>79483</td>
											<td>39.84</td>
										</tr>
										<tr><td>Motril</td>
											<td>60777</td>
											<td>7.37</td>
										</tr>
										<tr><td>Nador</td>
											<td>369102</td>
											<td>2</td>
										</tr>
										<tr><td>Nerja</td>
											<td>21185</td>
											<td>8.66</td>
										</tr>
										<tr>
											<td>Níjar</td>
											<td>28056</td>
											<td>28056</td>
										</tr>
										<tr>
											<td>Orán</td>
											<td>1454078</td>
											<td>1.9</td>
										</tr>
										<tr>
											<td>Polopos</td>
											<td>1680</td>
											<td>3.39</td>
										</tr>
										<tr>
											<td>Rincon de la Victoria</td>
											<td>43135</td>
											<td>34.81</td>
										</tr>
										<tr>
											<td>Roquetas de Mar</td>
											<td>90623</td>
											<td>37.55</td>
										</tr>
										<tr>
											<td>Salobreña</td>
											<td>12249</td>
											<td>5.78</td>
										</tr>
										<tr>
											<td>San Roque</td>
											<td>29373</td>
											<td>14.97</td>
										</tr>
										<tr>
											<td>Tanger</td>
											<td>947952</td>
											<td>1.4</td>
										</tr>
										<tr>
											<td>Tetuan</td>
											<td>198879</td>
											<td>2.7</td>
										</tr>
										<tr>
											<td>Tlemcen</td>
											<td>949135</td>
											<td>1.2</td>
										</tr>
										<tr>
											<td>Torremolinos</td>
											<td>67492</td>
											<td>21.65</td>
										</tr>
										<tr>
											<td>Lújar</td>
											<td>2622</td>
											<td>2.38</td>
										</tr>
										<tr>
											<td>Torrox</td>
											<td>15117</td>
											<td>8.26</td>
										</tr>
										<tr>
											<td>Velez-Málaga</td>
											<td>78166</td>
											<td>20.41</td>
										</tr>
										<tr>
											<td>TOTAL</td>
											<td>6734887</td>
											<td></td>
										</tr>
									</tbody>
								</table>
							</div>
						</li>

						<li>
							<span>Características económicas</span>
							<div class="content">
								<p><lang>Actualmente siguen existiendo grandes diferencias económicas entre la costa norte y la costa sur del Espacio Alborán. Índice de Desarrollo Humano (IDH). Fuentes:  World Economic Outlook Database, International Monétaire Fond (IMF).</lang></p>
								<table>
									<thead>
										<th><lang>Países/Estado</lang></th>
										<th><lang>IDH</lang></th>
										<th><lang>PIB (€)</lang></th>
										<th><lang>Población</lang></th>
									</thead>
									<tbody>
										<tr>
											<td><lang>España</lang></td>
											<td>0,869</td>
											<td>1.058.469</td>
											<td>46464000</td>
										</tr>
										<tr>
											<td><lang>Marruecos</lang></td>
											<td>0,617</td>
											<td>78.181 M</td>
											<td>32853000</td>
										</tr>
										<tr>
											<td><lang>Argelia</lang></td>
											<td>0,717</td>
											<td>158.252 M</td>
											<td>37900000</td>
										</tr>
										<tr>
											<td><lang>Gibraltar</lang></td>
											<td></td>
											<td></td>
											<td>30001</td>
										</tr>
									</tbody>
								</table>
							</div>
						</li>

						<li>
							<span>Características climáticas</span>
							<div class="content">
								<p><lang>Los períodos húmedos y lluviosos se concentran en las estaciones de otoño e invierno, los cuales coinciden con las temporadas de crecimiento de la vegetación, mientras que el resto del año nos encontramos en un período seco, caracterizado por la ausencia de precipitaciones. Diagramas bioclimáticos de crecimiento vegetativo de seis estaciones del Espacio Alborán. Fuentes: Local Clim, FAO.</lang></p>
								<img width="100%" src="/img/about/clima.jpg">
							</div>
						</li>

						<li>
							<span>Características oceanográficas</span>
							<div class="content">
								<p><lang>Este mapa muestra las zonas de gran productividad, identificadas por la concentración de clorofila a en color verde y relacionadas directamente con zonas de afloramiento, marcadas por las líneas blancas, provocado por el hidrodinamismo que se produce en el Mar de Alborán, dónde los grandes giros de las corrientes marinas están señalados por la líneas azules. Fuente: UICN.</lang></p>
								<img width="100%" src="/img/about/hidrodinamica.jpg">
							</div>
						</li>

					</ul>
				</div>
			</div>
		</div>
	</section>

	<section id="how">
		<div class="header">
			<h2><lang>¿Cómo surge el proyecto Espacio Alborán?</lang></h2>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-md-4">
					<img width="100%" src="/img/about/ALB_img_about-paises.png">
				</div>
				<div class="col-sm-8 col-md-8">
					<p><lang>El Centro de Cooperación del Mediterráneo de UICN juntos con instituciones de Argelia, España y Marruecos arrancó en 2007 una iniciativa para impulsar la conservación, el desarrollo sostenible y la gobernanza de los recursos naturales en espacio Alborán. Esta iniciativa fue reforzada con el proyecto ALBORÁN “Espacio Transfronterizo de Gestión Natural Compartida” en el marco del Programa POCTEFEX entre 2012 y 2014. El Proyecto <a href="http://www.iucn-geoportalboran.org/">POCTEFEX-ALBORÁN</a> fue cofinanciado por el <a href="http://ec.europa.eu/regional_policy/es/funding/erdf/" target="_blank">Fondo Europeo de Desarrollo Regional</a> (FEDER) y <a href="http://fundacion-biodiversidad.es/" target="_blank">Fundación Biodiversidad</a> y permitió la construcción de la primera fase del geoportal de Alborán.</lang></p>
					<p><lang>A partir de 2015, gracias a la <a href="http://en.mava-foundation.org/" target="_blank">Fundación MAVA</a> se amplía y se mejora los servicios de información que ofrece el geoportal y se crean grupos multidisciplinares con expertos de ambas orillas.</lang></p>
				</div>
			</div>
		</div>
	</section>

	<section id="what">
		<div class="header">
			<h2><lang>¿Qué puedes encontrar en geoportal del espacio alborán?</lang></h2>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-md-4">
					<span><lang>En el geoportal podrás encontrar tres tipos de información:</lang></span>
				</div>
				<div class="col-sm-8 col-md-8">
					<ul>
						<li><img src="/img/about/ALB_icon_eliminar_img_red.svg"><lang>Información georreferenciada sobre los rasgos naturales y actividades humanas y sus presiones e impactos en el espacio Alborán, así como las actuaciones de conservación y protección llevadas a cabo o propuestas por diversas instituciones.</lang></li>
						<li><img src="/img/about/ALB_icon_eliminar_img_red.svg"><lang>Una sección para la participación pública donde se visualiza información georreferenciada de buenas prácticas y avistamientos aportada por la ciudadanía y ongs.</lang></li>
						<li><img src="/img/about/ALB_icon_eliminar_img_red.svg"><lang>Una sección de documentación con informes y publicaciones referentes a la gestión y conservación de los recursos naturales del espacio Alborán.</lang></li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section id="forWhat">
		<div class="header">
			<h2><lang>¿Para qué sirve el Geoportal?</lang></h2>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<img width="100%" src="/img/about/ALB_about_esquema@2x.png">
				</div>
			</div>
		</div>
	</section>

	<section id="coordination">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="separator"></div>
					<h3><lang>Coordinación</lang></h3>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-8 col-md-8">
					<p><lang>El Centro de Cooperación del Mediterráneo de UICN, como impulsor del proceso, ha configurado el diseño y la estructura de un geoportal sobre información de los recursos naturales del espacio Alborán. Para esta actividad se han mantenido diversos encuentros desde 2013 que  han permitido el intercambio de información disponible y georreferenciada sobre los recursos naturales en el Mar de Alborán procedente de distintas instituciones españolas, marroquíes y argelinas.</lang></p>
					<p><lang>La experiencia instituciones españolas como la Red de Información Ambiental de Andalucía (REDIAM), el Instituto Español de Oceanografía (IEO), el Ministerio de Agricultura, Alimentación y Medio Ambiente (MAGRAMA), CIRCE, e instituciones marroquíes como el Alto Comisariado de Agua, Bosques y lucha contra la Desertificación, el Ministerio de Medio Ambiente y su Observatorio Regional de Medio Ambiente y Desarrollo Sostenible (OREDD) de Tanger Tétouan, así como otras internacionales como el Centro de Actividad Regional para las Áreas Especialmente Protegidas del Convenio de Barcelona (RAC/SPA), MedPAN y OCEANA, entre otras que ya disponen de información georreferenciada relevante sobre los recursos naturales del Mar de Alborán están contribuido a la construcción de este geoportal.</lang></p>
					<p><lang>La finalidad de este geoportal es impulsar la gobernanza del Mar de Alborán.</lang></p>
				</div>
				<div class="col-sm-4 col-md-4 contact">
					<h4><lang>Contacto</lang></h4>
					<span>Lourdes Lázaro</span>
					<a href="mailto:lourdes.lazaro@iucn.org">lourdes.lazaro@iucn.org</a>
					<span>Andrés Alcántara</span>
					<a href="mailto:andres.alcantara@iucn.org">andres.alcantara@iucn.org</a>
				</div>
			</div>
		</div>
	</section>
	<!-- <div class="title">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<h1><lang>El proyecto <em>POCTEFEX-Alborán</em></lang></h1>
				</div>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<h2 class="center"><lang>_about introducción title</lang></h2>
					<p class="big"><lang>_about introducción text</lang></p>
				</div>
			</div>
			<div class="row">
				<a class="nav" id="description"></a>
				<div class="col-sm-8 col-md-8">
					<h2><lang>_about descripción title</lang></h2>
					<p><lang>_about descripción text</lang></p>
					<div class="row">
						<div class="col-sm-5 col-md-5">
							<img src="/img/about/ALB_logo_proyecto_color-2x.png" width="220">
						</div>
					</div>
				</div>
				<nav class="col-sm-3 col-md-3 col-sm-offset-1 col-md-offset-1">
					<a class="nav" id="menu"></a>
					<ul>
						<li><a href="#description"><lang>Descripción</lang></a></li>
						<li><a href="#promotors"><lang>Promotores</lang></a></li>
						<li><a href="#coordination"><lang>Coordinación</lang></a></li>
						<li><a href="#contact"><lang>Contacto</lang></a></li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="photoContainer">
			<div class="container">
				<div class="row">
					<div class="col-sm-9 col-md-9 photoHolder">
						<img src="/img/about/photo_isla.jpg">
					</div>
					<div class="col-sm-3 col-md-3">
						<p><lang>La isla de Alborán</lang></p>
						<p>EUO &copy; OCEANA Juan Cuetos</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<a class="nav" id="promoters"></a>
				<div class="col-sm-8 col-md-8">
					<h2><lang>_about promueve title</lang></h2>
					<p><lang>_about promueve text1</lang></p>
					<p><lang>_about promueve text2</lang></p>
					<p><lang>_about promueve text3</lang></p>
				</div>
				<div class="col-sm-3 col-md-3 col-sm-offset-1 col-md-offset-1 icons">
					<a href="http://www.poctefex.eu/" target="_blank"><img src="/img/about/ALB_logo_Cooperacion_color-2x.png" width="172"></a>
					<a><img src="/img/about/ALB_logo_FEDER_color-2x.png" width="173"></a>
				</div>
			</div>
			<div class="logos_socios_color row">
				<div class="col-sm-8 col-md-8">
					<div class="group">
						<p><lang>Socios beneficiarios</lang></p>
						<div>
							<a href="http://www.iucn.org/" target="_blank"><img src="/img/about/ALB_logo_IUCN_color-2x.png" width="67"></a>
							<a href="http://www.ual.es/" target="_blank"><img src="/img/about/ALB_logo_UniAlmeria_color-2x.png" width="147"></a>
							<a href="http://www.juntadeandalucia.es/medioambiente/site/portalweb/" target="_blank"><img src="/img/about/ALB_logo_junta_color-2x.png" width="161"></a>
						</div>
					</div>
					<div class="group">
						<p><lang>Socio participante</lang></p>
						<div>
							<a href="http://www.mpm.gov.ma/" target="_blank"><img src="/img/about/ALB_logo_DepPecheMaritime_color-2x.png" width="195"></a>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-ms-4">
					<div class="group">
						<p><lang>Con el apoyo de</lang></p>
						<a href="http://www.fundacion-biodiversidad.es/" target="_blank"><img class="large" src="/img/about/ALB_logo_FBiodiversidad_color-2x.png" width="303"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="photoContainer">
			<div class="container">
				<div class="row">
					<div class="col-sm-9 col-md-9 photoHolder">
						<img src="/img/about/photo_fondomarino.jpg">
					</div>
					<div class="col-sm-3 col-md-3">
						<p><lang>Fondos de la reserva de Alborán</lang></p>
						<p>&copy; OCEANA Juan Cuetos</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row relative">
				<a class="nav" id="coordination"></a>
				<div class="col-sm-8 col-md-8">
					<h2><lang>_about coordinación title</lang></h2>
					<p><lang>_about coordinación text1</lang></p>
					<p><lang>_about coordinación text2</lang></p>
				</div>
				<div class="col-sm-3 col-md-3 col-sm-offset-1 col-md-offset-1 bottom">
					<a class="goBack" href="#menu"><lang>Ir al menú</lang></a>
				</div>
			</div>
			<div class="row relative">
				<a class="nav" id="contact"></a>
				<div class="col-sm-8 col-md-8">
					<h2><lang>Contacto</lang></h2>
					<div class="row">
						<div class="col-sm-6 col-md-6">
							<p class="noMargin">Lourdes Lázaro</p>
							<p><a href="mailto:lourdes.lazaro@iucn.org" target="_blank">lourdes.lazaro@iucn.org</a></p>
						</div>
						<div class="col-sm-6 col-md-6">
							<p class="noMargin">Andrés Alcántara</p>
							<p><a href="mailto:andres.alcantara@iucn.org" target="_blank">andres.alcantara@iucn.org</a></p>
						</div>
					</div>
					<div class="row address">
						<div class="col-sm-12 col-md-12">
							<h3 class="grey_4">UICN-Med</h3>
							<p>
								<lang>International Union for Conservation of Nature - Mediterranean Centre</lang>
							</p>
							<p>
								C/ Marie Curie 22, PTA,<br>
								29590 Campanillas, Málaga<br>
								<lang>España</lang>
							</p>
							<p>Tel. +34 952 028 430</p>
							<p><a href="http://iucn.org" target="_blank">http://iucn.org</a></p>
							<p><a href="http://www.iucn.org/mediterranean" target="_blank">http://www.iucn.org/mediterranean</a></p>
						</div>
					</div>
				</div>
				<div class="col-sm-3 col-md-3 col-sm-offset-1 col-md-offset-1 bottom">
					<a class="goBack" href="#menu"><lang>Ir al menú</lang></a>
				</div>
			</div>
		</div>
	</div> -->


		<div class="prefoot grey_light first">
		<div class="container">
			<div class="row">
				<div class="logos_coop col-sm-7 col-md-7">
					<p><lang>Financiado por</lang></p>
					<a href="http://www.poctefex.eu/" target="_blank"><img src="/img/footer/ALB_logo_cooperacion_transf.svg"></a>
					<a href="http://europa.eu/legislation_summaries/agriculture/general_framework/g24234_es.htm" target="_blank"><img src="/img/footer/ALB_logo_UE.svg"></a>
					<a href="http://en.mava-foundation.org/" target="_blank"><img src="/img/footer/ALB_logo_MAVA.svg"></a>
					<p><lang>Cofinanciado por el Fondo Europeo de Desarrollo Regional (FEDER)</lang></p>
				</div>
				<div class="logos_coop col-sm-4 col-sm-offset-1 col-md-4 col-md-offset-1">
					<p><lang>Con el apoyo de</lang></p>
					<a href="http://www.fundacion-biodiversidad.es/" target="_blank"><img class="large" src="/img/footer/ALB_logo_FBiodiversidad.svg"></a>
				</div>
			</div>
		</div>
	</div>


</div>