<div id="searchbar">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12">
				<input type="text">
				<button type="button"></button>
			</div>
		</div>
	</div>
</div>
<div class="catalogue_list">
	<div class="container">
		<!-- TOPTABS -->
		<ul class="row topTabs">
			<li class="col-sm-4 col-md-4">
				<div class="title">
					<h2><%= categories[0].title_es %></h2>
					<span><%= categories[0].topics[0].layers.length %></span>
				</div>
				<!-- SUBLIST -->
				<div class="list"></div>
			</li>
			<li class="col-sm-4 col-md-4">
				<div class="title">
					<h2><%= categories[1].title_es %></h2>
					<span><%= categories[1].topics[0].layers.length %></span>
				</div>
				<!-- SUBLIST -->
				<div class="list"></div>
			<li class="col-sm-4 col-md-4">
				<div class="title">
					<h2><%= categories[2].title_es %></h2>
					<span><%= categories[2].topics[0].layers.length %></span>
				</div>
				<!-- SUBLIST -->
				<div class="list"></div>
			</li>
		</ul>
	</div>
</div>