<div id="documents">
	
	<div class="block_header">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-md-4">
					<h2 block="0" class="green selected"><lang>Rasgos naturales y actividad humana</lang><span>10</span></h2>
					<!-- <span class="green">10</span> -->
				</div>
				<div class="col-sm-4 col-md-4">
					<h2 block="1" class="red"><lang>Presiones e impactos</lang><span>10</span></h2>
				</div>
				<div class="col-sm-4 col-md-4">
					<h2 block="2" class="blue"><lang>Protección y conservación</lang><span>10</span></h2>
				</div>
			</div>
		</div>
	</div>

	<div class="clear"></div>
	
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-md-4 filters">
				<!-- <div class="block_box">Medio Físico Marino<span>10</span></div>
				<div class="block_box">Biodiversidad<span>10</span></div>
				<div class="block_box">Actividad humana<span>10</span></div> -->

				<div class="source_box">
					<span><lang>Fuente</lang></span>
					<ul>
						<li class="ellipsis selected">Funete 1</li>
						<li class="ellipsis">Fuente 2</li>
					</ul>
				</div>

				<div class="tag_box">
					<span><lang>Tags</lang></span>
					<ul>
						<li class="selected">Tags1</li>
						<li>Tags2</li>
						<li>Ecología</li>
						<li>Ecología</li>
						<li>Ecología</li>
						<li>Ecología</li>
						<li>Ecología</li>
						<li>Ecología</li>
					</ul>
				</div>

			</div>


			<div class="col-sm-8 col-md-8">
				HOLA
			</div>
		</div>
	</div>



</div>