<div id="documents">
	
	<div class="block_header">
		<div class="container">
			<div class="row">
				<%_.each(col,function(c){%>
					<div class="col-sm-4 col-md-4">
						<h2 block="<%=c[0].cat_id%>" class="<%=c[0].cat_id == 1 ? 'green':(c[0].cat_id == 2 ? 'red':'blue')%> <%= c[0].cat_id == 1 ? 'selected':''%>"><%=c[0]['cat_' + app.lang]%><span><%=c.length%></span></h2>
					</div>
				<%})%>
			</div>
		</div>
	</div>

	<div class="clear"></div>
	
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-md-4 filters"></div>

			<div class="col-sm-8 col-md-8">
				<div class="doc_list"></div>
			</div>
		</div>
	</div>



</div>