<% var classColor = m.cat_id == 1 ? 'green':(m.cat_id == 2 ? 'red':'blue') %>

<div id="document">
	<div class="header">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<a href="/<lang>lang</lang>/<lang>_link documents</lang>/<%=m.cat_id%>/<%=m.topic_id%>" jslink>
						<h2 class="<%=classColor%>"><%=m['cat_' + app.lang]%> · <span><%=m['topic_title_' + app.lang]%></span></h2>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-6">
				<% if (app.isAdmin){ %>
					<a href="/<lang>lang</lang>/<lang>_link documents</lang>/<lang>_link document</lang>/<%=m.id_doc%>" class="editDoc button"><lang>Editar documento</lang></a><% 
				} %>
				<h3><%=m['source']%></h3>
				<h4 class="<%=classColor%>"><%=m['title_' + app.lang]%></h4>
				<%if(m['description_' + app.lang]){%>
					<p><%=m['description_' + app.lang]%></p>
				<%}%>
				<h5>Etiquetas: <span class="<%=classColor%>"><%=m['tags_' + app.lang]%></span></h5>
			</div>
			<div class="col-sm-6 col-md-6">
				<div class="fright">
					<div class="cover">
					<img src="/img/document/covers/<%= m.img_link ? m.img_link : 'ALB_img_default-doc.svg'%>">
					<a class="<%=classColor%>" target="_blank" href="<%=m.doc_link%>"><lang>Descargar documento</lang></a>
				</div>
					<div class="shareBox">
						<a id="share-twitter" href="#" target="_blank"><img src="/img/participa/ALB_icon_twitter_red.svg"></a>
						<a id="share-fb" href="#" target="_blank"><img src="/img/participa/ALB_icon_facebook_red.svg"></a>
						<a id="share-gplus" href="#" target="_blank"><img src="/img/participa/ALB_icon_googleplus_red.svg"></a>
						<a id="share-email" href="#" target="_blank"><img src="/img/participa/ALB_icon_email_red.svg"></a>
						<a id="share-whatsapp" href="#" target="_blank" data-action="share/whatsapp/share" ><img src="/img/participa/ALB_icon_whatsapp_red.svg"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>