<ul  class="panel" style="display: block;">
	<li>Rasgos naturales y actividades humanas</li>
	<li>Regiones oceanográficas</li>
	<li>Batimetría</li>
	<li class="green">AÑADIR CAPA DEL CATÁLOGO</li>
</ul>

<ul  class="panel" style="display: block;">
	<li>Presiones e impactos</li>
	<li>Regiones oceanográficas</li>
	<li>Batimetría</li>
	<li class="red">AÑADIR CAPA DEL CATÁLOGO</li>
</ul>

<ul  class="panel" style="display: block;">
	<li>Protección y conservación</li>
	<li>Regiones oceanográficas</li>
	<li>Batimetría</li>
	<li class="blue">AÑADIR CAPA DEL CATÁLOGO</li>
</ul>