<div class="separator"></div>

<ul  class="panel green" style="display: block;">
	<li class="green disableSortable">Rasgos naturales y actividades humanas</li>
	<li class="active">Regiones oceanográficas</li>
	<li>Batimetría</li>
	<li class="green disableSortable">AÑADIR CAPA DEL CATÁLOGO</li>
</ul>

<div class="separator"></div>

<ul  class="panel red" style="display: block;">
	<li class="red disableSortable">Presiones e impactos</li>
	<li class="active">Regiones oceanográficas</li>
	<li>Batimetría</li>
	<li class="red disableSortable">AÑADIR CAPA DEL CATÁLOGO</li>
</ul>

<div class="separator"></div>

<ul  class="panel blue" style="display: block;">
	<li class="blue disableSortable">Protección y conservación</li>
	<li class="active">Regiones oceanográficas</li>
	<li>Batimetría</li>
	<li class="blue disableSortable">AÑADIR CAPA DEL CATÁLOGO</li>
</ul>