<div class="separator"></div>

<ul category="0"  class="panel green" style="display: block;">
	<li class="green disableSortable">Rasgos naturales y actividades humanas</li>

	<li class="green disableSortable">AÑADIR CAPA DEL CATÁLOGO</li>
</ul>

<div class="separator"></div>

<ul category="1"  class="panel red" style="display: block;">
	<li class="red disableSortable">Presiones e impactos</li>
	
	<li class="red disableSortable">AÑADIR CAPA DEL CATÁLOGO</li>
</ul>

<div class="separator"></div>

<ul category="2"  class="panel blue" style="display: block;">
	<li class="blue disableSortable">Protección y conservación</li>
	
	<li  class="blue disableSortable">AÑADIR CAPA DEL CATÁLOGO</li>
</ul>