<div id="historyDetail">
	<div class="mainPhoto">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					
				</div>
			</div>
		</div>
	</div>
	<div class="type">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
					<a href="#" id="selectedType">Buenas prácticas</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row title">
			<div class="col-sm-1 col-md-1">
				<a href="#" jslink><img src="/img/participa/ALB_flecha_ant.svg"></a>
			</div>
			<div class="col-sm-10 col-md-10">
				<h1><%= title %></h1>
				<p><%= date %> · Historia enviada por <a href="#" jslink><%= author %></a> desde <%= country %></p>
			</div>
			<div class="col-sm-1 col-md-1">
				<a href="#" jslink><img src="/img/participa/ALB_flecha_ant.svg"></a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8 col-md-8">
				<div class="historyText">
					<%= history_text %>
				</div>
				<div class="category">
					<lang>Categoría</lang>
					<span class="category-<%= id_category %>"><lang><%= category %></lang></span>
				</div>

			</div>
			<div class="col-sm-4 col-md-4">
				<div class="map">
					<!-- TODO Cambiar -->
					<img src="/images/map_placeholder.jpg">
					<p class="place"><%= place %></p>
					<p class="position">
						<lang>Latitud</lang> <span><%= lat %></span> / <lang>Longitud</lang> <span><%= lon %></span>
					</p>
				</div>
				<div class="shareBox">
					<lang>Compartir historia</lang>
					<a href="#"><img src="/img/participa/ALB_icon_compartir_twitter.svg"></a>
					<a href="#"><img src="/img/participa/ALB_icon_compartir_facebook.svg"></a>
					<a href="#"><img src="/img/participa/ALB_icon_compartir_googlep.svg"></a>
					<a href="#"><img src="/img/participa/ALB_icon_compartir_email.svg"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="prefoot grey_light first">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-6">
					<p><lang>El <i>proyecto Alborán</i> tiene como finalidad poner en marcha un procedimiento de gestión ambiental común en el ámbito del Mar del Alborán, facilitando el intercambio de experiencias entre todos los actores y los grupos de interés. De esta manera, se persigue identificar y unificar las pioridades que mejoren la gestión del Mar de Alborán y su entorno.</lang></p>
				</div>
				<div class="logos_coop col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1">
					<a href="http://www.poctefex.eu/" target="_blank"><img src="/img/footer/ALB_logo_cooperacion_transf.svg"></a>
					<img src="/img/footer/ALB_logo_UE.svg">
					<p><lang>Cofinanciado por el Fondo Europeo de Desarrollo Regional (FEDER)</lang></p>
				</div>
			</div>
		</div>
	</div>
	<div class="prefoot grey_light">
		<div class="container">
			<div class="logos_socios row">
				<div class="col-sm-8 col-md-8">
					<div class="group">
						<p><lang>Socios beneficiarios</lang></p>
						<div>
							<a href="http://www.iucn.org/" target="_blank"><img src="/img/footer/ALB_logo_UICN.svg"></a>
							<a href="http://www.ual.es/" target="_blank"><img src="/img/footer/ALB_logo_Univ_Almeria.svg"></a>
							<a href="http://www.juntadeandalucia.es/medioambiente/site/portalweb/" target="_blank"><img src="/img/footer/ALB_logo_Junta.svg"></a>
						</div>
					</div>
					<div class="group">
						<p><lang>Socio participante</lang></p>
						<div>
							<a href="http://www.mpm.gov.ma/" target="_blank"><img src="/img/footer/ALB_logo_Maroc.svg"></a>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-ms-4">
					<div class="group">
						<p><lang>Con el apoyo de</lang></p>
						<div>
							<a href="http://www.fundacion-biodiversidad.es/" target="_blank"><img class="large" src="/img/footer/ALB_logo_FBiodiversidad.svg"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>