<div id="historyDetail">
	<% if (images[0]) { %>
		<div class="mainPhoto">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-12">
						<a href="#" id="gallery_btn" class="fancybox">
							<div class="image" style="background-image: url('<%= images[0].href %>')"></div>
						</a>
					</div>
				</div>
			</div>
		</div>
	<% }else{ %>
		<div class="mainTitle">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-12">
						<h1>Historia</h1>
					</div>
				</div>
			</div>
		</div>
	<% } %>
	<% if (isAdmin) { %>
	<div class="adminbar <%= status == 1 ? 'published': '' %>">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-md-4 aleft">
					<% if(status == 1){ %>
						<a class="button grey" href="#" id="btn_unpublish"><lang>Despublicar historia</lang></a>
					<% }else{ %>
						<a class="button green" href="#" id="btn_publish"><lang>Publicar historia</lang></a>
					<% } %>
					<div class="sep"></div>
					<a class="button" href="#" id="btn_edit"><lang>Editar</lang></a>
				</div>
				<div class="col-sm-4 col-md-4 acenter">
					<% if(status == 1){ %>
						<span class="status published">Publicado</span>
					<% }else{ %>
						<span class="status pending">Pendiente de publicación</span>
					<% } %>
				</div>
				<div class="col-sm-4 col-md-4 aright">
					<a class="button red" href="#" id="btn_delete"><lang>Eliminar historia</lang></a>
				</div>
			</div>
		</div>
	</div>
	<% } %>
	<div class="type">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
					<a href="/<lang>lang</lang>/<lang>_link join</lang>/<%= type == 0 ? '<lang>goodpractices</lang>': '<lang>sighting</lang>' %>" id="selectedType" class="<%= type == 0 ? 'goodpractices': 'sighting' %>">
						<%= type == 0 ? '<lang>Buenas prácticas</lang>': '<lang>Avistamientos</lang>' %>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row title">
			<div class="col-sm-2 col-md-2 arrow-prev">
				<% if(prev_id){ %>
					<a href="/<lang>lang</lang>/<lang>_link join</lang>/<lang>_link history</lang>/<%= prev_id %>" jslink><img src="/img/participa/ALB_flecha_ant.svg" title="<lang>Historia anterior</lang>"></a>
				<% } %>
			</div>
			<div class="col-sm-8 col-md-8">
				<h1><%= title %></h1>
				<p><%= date %> · Historia enviada por <a><%= author %> <% if(institution) { %> ( <%= institution %> ) <% } %></a></p>
			</div>
			<div class="col-sm-2 col-md-2 arrow-next">
				<% if( typeof next_id === 'undefined'){ %>
					<a href="/<lang>lang</lang>/<lang>_link join</lang>/<lang>_link history</lang>/<%= next_id %>" jslink><img src="/img/participa/ALB_flecha_sig.svg" title="<lang>Siguiente historia</lang>"></a>
				<% } %>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8 col-md-8">
				<div class="historyText">
					<%= app.urlify(text_history, 'target="_blank" class="videolink"') %>
				</div>
				<% if(category > 0){ %>
					<div class="category">
						<lang>Categoría</lang>
						<span class="category-<%= category %>">
							<% switch(category){	case 1: %>
								<lang>Rasgos naturales y actividades humanas</lang>
							<% break; case 2: %>
								<lang>Presiones e impactos</lang>
							<% break; case 3: %>
								<lang>Protección y conservación</lang>
							<% break; } %>
						</span>
					</div>
				<% } %>
			</div>
			<div class="col-sm-4 col-md-4">
				<a class="row map" href="/<lang>lang</lang>/<lang>_link map</lang>/<lang>_link history</lang>/<%= id_history %>" jslink>
					<img class="base" src="http://staticmap.openstreetmap.de/staticmap.php?center=<%= lat %>,<%= lon %>&zoom=14&size=390x390&maptype=mapnik">
					<img class="marker" src="/img/map/<%= type == 0 ? 'ALB_marcador_historia_buenas_2x.png': 'ALB_marcador_historia_avista_2x.png' %>" width="40">
				</a>
				<div class="row posContainer">
					<p class="place"><%= place %></p>
					<p class="position">
						<lang>Latitud</lang> <span><%= lat %></span> /&nbsp;&nbsp;<lang>Longitud</lang> <span><%= lon %></span>
					</p>
				</div>
				<div class="shareBox">
					<lang>Compartir historia</lang>
					<div class="icons">
						<a id="share-twitter" href="#" target="_blank"><img src="/img/participa/ALB_icon_compartir_twitter.svg"></a>
						<a id="share-fb" href="#" target="_blank"><img src="/img/participa/ALB_icon_compartir_facebook.svg"></a>
						<a id="share-gplus" href="#" target="_blank"><img src="/img/participa/ALB_icon_compartir_googlep.svg"></a>
						<a id="share-email" href="#" target="_blank"><img src="/img/participa/ALB_icon_compartir_email.svg"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="prefoot grey_light first">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-6">
					<p><lang>El <i>proyecto Alborán</i> tiene como finalidad poner en marcha un procedimiento de gestión ambiental común en el ámbito del Mar del Alborán, facilitando el intercambio de experiencias entre todos los actores y los grupos de interés. De esta manera, se persigue identificar y unificar las pioridades que mejoren la gestión del Mar de Alborán y su entorno.</lang></p>
				</div>
				<div class="logos_coop col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1">
					<a href="http://www.poctefex.eu/" target="_blank"><img src="/img/footer/ALB_logo_cooperacion_transf.svg"></a>
					<img src="/img/footer/ALB_logo_UE.svg">
					<p><lang>Cofinanciado por el Fondo Europeo de Desarrollo Regional (FEDER)</lang></p>
				</div>
			</div>
		</div>
	</div>
	<div class="prefoot grey_light">
		<div class="container">
			<div class="logos_socios row">
				<div class="col-sm-8 col-md-8">
					<div class="group">
						<p><lang>Socios beneficiarios</lang></p>
						<div>
							<a href="http://www.iucn.org/" target="_blank"><img src="/img/footer/ALB_logo_UICN.svg"></a>
							<a href="http://www.ual.es/" target="_blank"><img src="/img/footer/ALB_logo_Univ_Almeria.svg"></a>
							<a href="http://www.juntadeandalucia.es/medioambiente/site/portalweb/" target="_blank"><img src="/img/footer/ALB_logo_Junta.svg"></a>
						</div>
					</div>
					<div class="group">
						<p><lang>Socio participante</lang></p>
						<div>
							<a href="http://www.mpm.gov.ma/" target="_blank"><img src="/img/footer/ALB_logo_Maroc.svg"></a>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-ms-4">
					<div class="group">
						<p><lang>Con el apoyo de</lang></p>
						<div>
							<a href="http://www.fundacion-biodiversidad.es/" target="_blank"><img class="large" src="/img/footer/ALB_logo_FBiodiversidad.svg"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Popups -->
	<div id="historyDeleteConfirmation" class="msgPopup">
        <div class="content">
            <h2><lang>Eliminar historia</lang></h2>
            <p><lang>¿Está seguro de querer eliminar esta historia?</lang></p>
        </div>
        <input type="button" class="btn_yesno" id="btn_yes" value="<lang>Sí</lang>">
        <input type="button" class="btn_yesno" id="btn_no" value="<lang>No</lang>">
    </div>

	<div id="historyPublishConfirmation" class="msgPopup">
        <div class="content">
            <h2><lang>Publicar historia</lang></h2>
            <p><lang>¿Está seguro de querer publicar esta historia?</lang></p>
        </div>
        <input type="button" class="btn_yesno" id="btn_yes" value="<lang>Sí</lang>">
        <input type="button" class="btn_yesno" id="btn_no" value="<lang>No</lang>">
    </div>

	<div id="historyUnpublishConfirmation" class="msgPopup">
        <div class="content">
            <h2><lang>Despublicar historia</lang></h2>
            <p><lang>¿Está seguro de querer despublicar esta historia?</lang></p>
        </div>
        <input type="button" class="btn_yesno" id="btn_yes" value="<lang>Sí</lang>">
        <input type="button" class="btn_yesno" id="btn_no" value="<lang>No</lang>">
    </div>
</div>
