<div id="presentation" class="blue_light">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12">
				<h2><lang>Este <strong>Geoportal</strong> para la Gobernanza en el Mar de Alborán es una</lang> <lang>plataforma participativa englobada dentro del</lang> <a href="/<lang>lang</lang>/<lang>_link alboran</lang>"><lang>proyecto <i>Alborán</i></lang></a>, <i class="light"><lang>Espacio transfronterizo de gestión natural compartida</lang></i>.</h2>
				<h3><lang>Puede comenzar echando un vistazo a la sección </lang><a href="/<lang>lang</lang>/<lang>_link howto</lang>" jslink><strong><lang>Cómo usarlo</lang></strong></a>, <lang>o bien</lang> <lang>seleccione directamente uno de los siguiente 3 mapas preconfigurados:</lang></h3>
			</div>
		</div>
		<div class="nav row">
			<div class="col-sm-3 col-md-3">
				<a href="/<lang>lang</lang>/<lang>_link map</lang>/1" jslink>
					<img src="/img/home/ALB_icon_mapa_1.svg">
					<span class="green"><lang>Rasgos naturales<br> y actividad humana</lang></span>
				</a>
				<p><lang>En esta temática se incluyen elementos caracterizadores del medio costero y marino, tanto natural como humano.</lang></p>
			</div>
			<div class="col-sm-3 col-md-3">
				<a href="/<lang>lang</lang>/<lang>_link map</lang>/2" jslink>
					<img src="/img/home/ALB_icon_mapa_2.svg">
					<span class="red"><lang>Presiones <br>e impactos</lang></span>
				</a>
				<p><lang>Actividades humanas que actualmente están ejerciendo una presión sobre el medio marino y costero, como algunos de los impactos ya perceptibles.</lang></p>
			</div>
			<div class="col-sm-3 col-md-3">
				<a href="/<lang>lang</lang>/<lang>_link map</lang>/3" jslink>
					<img src="/img/home/ALB_icon_mapa_3.svg">
					<span class="blue"><lang>Protección <br>y conservación</lang></span>
				</a>
				<p><lang>Delimitaciones de los pespacios naturales protegidos vigentes por la legislación nacional o por normativas y acuerdos de carácter internacional.</lang></p>
			</div>
			<div class="col-sm-3 col-md-3">
				<a href="/<lang>lang</lang>/<lang>_link catalogue</lang>" jslink>
					<img src="/img/home/ALB_icon_mapa_manual.svg">
					<span class="grey italic"><lang>Configuración <br>manual</lang></span>
				</a>
				<p><lang>Desde el <strong>Catálogo</strong>, puede seguir añadiendo capas de las tres temáticas con el fin de configurar la <i>tabla de contenido</i> que más le interese.</lang></p>
			</div>
		</div>
	</div>
	<div class="row credits">
		<p><a href="#"><lang>Foto</lang>: Miguel Gómez Paredes</a></p>
	</div>
</div>
<div class="prefoot grey_light first">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-6">
				<p><lang>El <i>proyecto Alborán</i> tiene como finalidad poner en marcha un procedimiento de gestión ambiental común en el ámbito del Mar del Alborán, facilitando el intercambio de experiencias entre todos los actores y los grupos de interés. De esta manera, se persigue identificar y unificar las pioridades que mejoren la gestión del Mar de Alborán y su entorno.</lang></p>
			</div>
			<div class="logos_coop col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1">
				<a href="http://www.poctefex.eu/" target="_blank"><img src="/img/footer/ALB_logo_cooperacion_transf.svg"></a>
				<a href="http://europa.eu/legislation_summaries/agriculture/general_framework/g24234_es.htm" target="_blank"><img src="/img/footer/ALB_logo_UE.svg"></a>
				<p><lang>Cofinanciado por el Fondo Europeo de Desarrollo Regional (FEDER)</lang></p>
			</div>
		</div>
	</div>
</div>
<div class="prefoot grey_light">
	<div class="container">
		<div class="logos_socios row">
			<div class="col-sm-8 col-md-8">
				<div class="group">
					<p><lang>Socios beneficiarios</lang></p>
					<div>
						<a href="http://www.iucn.org/" target="_blank"><img src="/img/footer/ALB_logo_UICN.svg"></a>
						<a href="http://www.ual.es/" target="_blank"><img src="/img/footer/ALB_logo_Univ_Almeria.svg"></a>
						<a href="http://www.juntadeandalucia.es/medioambiente/site/portalweb/" target="_blank"><img src="/img/footer/ALB_logo_Junta.svg"></a>
					</div>
				</div>
				<div class="group">
					<p><lang>Socio participante</lang></p>
					<div>
						<a href="http://www.mpm.gov.ma/" target="_blank"><img src="/img/footer/ALB_logo_Maroc.svg"></a>
					</div>
				</div>
			</div>
			<div class="col-sm-4 col-ms-4">
				<div class="group">
					<p><lang>Con el apoyo de</lang></p>
					<div>
						<a href="http://www.fundacion-biodiversidad.es/" target="_blank"><img class="large" src="/img/footer/ALB_logo_FBiodiversidad.svg"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="imageCredits">
	<img src="/img/home/ALB_img_fondo_presentacion_original.jpg">
	<p>Foto: Miguel Gómez Paredes.  XXV Concurso Fotográfico "DÍA MUNDIAL DEL MEDIO AMBIENTE". Consejería de Medio Ambiente y Ordenación del Territorio de la Junta de Andalucía.</p>
</div>