<div id="presentation" class="blue_light">
	<div class="header">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<h2>
						<lang>Mediterranean</lang><br>
						<span><lang>Platform on Biodiversity</lang></span>
					</h2>
				</div>
			</div>
		</div>
	</div>


<div class="sections">

	<div class="section">
		<p>
			<i>
				<lang>The Mediterranean Biodiversity Platform is an online  tool to inventory,  catalog  and  store data on marine and coastal biodiversity in  the  Mediterranean, and view them on maps. This platform has been developed by the Specially Protected Areas Regional Activity Centre (SPA/RAC), within the MedKeyHabitats project, with a financial support of the MAVA Foundation.</lang>
			</i>
		</p>
	</div>

	<div class="section">
		<img src="/img/home/ALB_icon_XL_config-white.svg">
		<div>
			<h3><lang>Set your own map</lang></h3>
			<span><lang>From the Catalogue, you can keep Adding 'layers' from the three main topics to set your own table of content.</lang></span>
			<a href="/<lang>lang</lang>/<lang>_link catalogue</lang>" jslink><lang>Catalogue</lang></a>
		</div>
	</div>

	<div class="section">
		<img src="/img/home/ALB_icon_XL_aprende-white.svg">
		<div>
			<h3><lang>Learn</lang></h3>
			<span><lang>If you have any doubts, you can start with a quick guide in the section "How to use it".</lang></span>
			<a href="/<lang>lang</lang>/<lang>_link howto</lang>" jslink jslink>
				<lang>How to use it</lang></a>
		</div>
	</div>

</div>


<!-- <div class="prefoot grey_light first">
	<div class="container">
		<div class="row">
			<div class="logos_coop col-sm-12 col-md-12">
				<a href="http://www.unep.org/" target="_blank"><img height="68px" src="/img/footer/racspa_logo_enh.png"></a>
				<a href="http://www.rac-spa.org/" target="_blank"><img height="68px" src="/img/footer/logo-rac-spa.png"></a>
			</div>
		</div>
	</div>
</div> -->

<div id="imageCredits">
	<img src="/img/home/ALB_img_fondo_presentacion_original.jpg">
</div>
