<div id="presentation" class="blue_light">
	<div class="header">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<h2>
						<lang>Mapping of key marine habitats in the Mediterranean and</lang><br>
						<lang>promoting their conservation through the establishment of</lang><br>
						<lang>Specially Protected Areas of Mediterranean Importance (SPAMI)</lang>
					</h2>
				</div>
			</div>
		</div>
	</div>
	

<div class="sections">
	
	<div class="section">
		<p>
			<i>
				<lang>This project aims at establishing cartographic inventory of marine key habitats of conservation interest to extend the Specially Protected Areas of Mediterranean Importance network (the SPAMI network), as required by Barcelona Convention Protocol concerning Specially Protected Areas and Biological Diversity in the Mediterranean (SPA/BD Protocol).</lang>
			</i>
		</p>
	</div>

	<div class="section">
		<img src="/img/home/ALB_icon_XL_config-white.svg">
		<div>
			<h3><lang>Configura tu propio mapa</lang></h3>
			<span><lang>Desde el Catálogo, puedes seguir añadiendo ‘capas’ de las tres temáticas con el fin de configurar la tabla de contenido que más te interese.</lang></span>
			<a href="/<lang>lang</lang>/<lang>_link catalogue</lang>" jslink><lang>Catálogo</lang></a>
		</div>
	</div>

	<div class="section">
		<img src="/img/home/ALB_icon_XL_aprende-white.svg">
		<div>
			<h3><lang>Aprende</lang></h3>
			<span><lang>Si tienes dudas puedes comenzar con una rápida lectura de la sección “Cómo usarlo”.</lang></span>
			<a href="/<lang>lang</lang>/<lang>_link howto</lang>" jslink><lang>Como usarlo</lang></a>
		</div>
	</div>

</div>


<div class="prefoot grey_light first">
	<div class="container">
		<div class="row">
			<div class="logos_coop col-sm-12 col-md-12">
				<a href="http://www.unep.org/" target="_blank"><img height="68px" src="/img/footer/racspa_logo_enh.png"></a>
				<a href="http://www.rac-spa.org/" target="_blank"><img height="68px" src="/img/footer/logo-rac-spa.png"></a>
			</div>
		</div>
	</div>
</div>

<div id="imageCredits">
	<img src="/img/home/ALB_img_fondo_presentacion_original.jpg">
</div>