<div id="aboutProject">
	<div class="title">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<h1><lang>Cómo usarlo</lang></h1>
				</div>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="container">
			<div class="row separator relative">
				<div class="col-sm-8 col-md-8">
					<a class="nav" id="front"></a>
					<h2><lang>_howto portada title</lang></h2>
					<p><lang>_howto portada text1</lang>:</p>
					<ol class="pad_20">
						<li>
							<p><lang>_howto portada lista1_1</lang> <strong><lang>mapa preconfigurado</lang></strong> <lang>_howto portada lista1_2</lang>:</p>
							<ol class="icons">
								<li class="green"><lang>Rasgos naturales y actividad humana</lang></li>
								<li class="red"><lang>Presiones e impactos</lang></li>
								<li class="blue"><lang>Protección y conservación</lang></li>
							</ol>
							<p><lang>_howto portada lista1_3</lang> <a href="#mapsection"><lang>sección Mapa</lang></a>- <lang>_howto portada lista1_4</lang>.</p>
						</li>
						<li>
							<p><lang>_howto portada lista2_1</lang> <strong><lang>configuración manual</lang></strong> <lang>_howto portada lista2_2</lang> <a href="#catalogue"><lang>sección Catálogo</lang></a>- <lang>_howto portada lista2_3</lang>.</p>
						</li>
					</ol>
				</div>
				<nav class="col-sm-3 col-md-3 col-sm-offset-1 col-md-offset-1">
					<a class="nav" id="menu"></a>
					<ul>
						<li><a href="#front"><lang>Portada</lang></a></li>
						<li><a href="#mapsection"><lang>Mapa</lang></a></li>
						<li><a href="#catalogue"><lang>Catálogo</lang></a></li>
						<li><a href="#join"><lang>Participe</lang></a></li>
						<li><a href="#signup"><lang>Registro de usuario</lang></a></li>
					</ul>
					<div class="roundedFigure">
						<img src="/img/howto/ALB-uso_01_home-ES.jpg">
					</div>
				</nav>
			</div>
			<div class="row separator relative">
				<div class="col-sm-8 col-md-8">
					<a class="nav" id="mapsection"></a>
					<h2><lang>_howto map title</lang></h2>
					<h3><lang>_howto map subtitle1</lang></h3>
					<p><lang>_howto map text1</lang>:</p>
					<img class="center shadow margin_36" src="/img/howto/ALB-uso_03_toc-ES.jpg">
					<ol class="pad_20">
						<li><lang>_howto map lista1</lang>.</li>
						<li><lang>_howto map lista2</lang> <img src="/img/map/ALB_icon_info_capa.svg">.</li>
						<li><lang>_howto map lista3_1</lang> <img src="/img/map/ALB_icon_leyenda.svg"> <lang>_howto map lista3_2</lang>.</li>
						<li><lang>_howto map lista4_1</lang> <img src="/img/map/ALB_icon_opacidad.svg">, <lang>_howto map lista4_2</lang>.</li>
						<li><lang>_howto map lista5</lang> <img src="/img/map/ALB_icon_descartar_capa.svg">.</li>
						<li><lang>_howto map lista6</lang> <a href="#catalogue"><lang>sección Catálogo</lang></a>-.</li>			
					</ol>
					<p><lang>_howto map text2_1</lang> <em><lang>icono de Configuración</lang></em> <img src="/img/map/ALB_icon_config_toc_abierto.svg"> <lang>_howto map text2_2</lang> <strong>"<lang>Guardar configuración actual</lang>"</strong>, <lang>_howto map text2_3</lang> <strong>"<lang>Cargar mi configuración</lang>"</strong> <lang>_howto map text2_4</lang>.</p>
					<p><lang>_howto map text3_1</lang> <span class="pink"><lang>_howto map text3_2</lang></span> <lang>_howto map text3_3</lang> <a href="#signup">sección Regístrese</a>-.</p>
					<p><img src="/img/map/ALB_icon_historias.svg"><lang>_howto map text4_1</lang> <strong><lang>_howto map text4_2</lang>,</strong> <lang>_howto map text4_3</lang> <a href="#join"><lang>sección Participe</lang></a>-.</p>
					<h3><lang>_howto map subtitle2</lang></h3>
					<p><lang>_howto map text5</lang></p>
				</div>
				<nav class="col-sm-3 col-md-3 col-sm-offset-1 col-md-offset-1">
					<div class="roundedFigure">
						<img src="/img/howto/ALB-uso_02_toc-ES.jpg">
						<p><lang>_howto map figure1</lang></p>
					</div>
					<div class="roundedFigure">
						<img src="/img/howto/ALB-uso_04_config-ES.jpg">
						<p><lang>_howto map figure2</lang></p>
					</div>
					<a href="#menu" class="goBack bottom"><lang>Ir al menú</lang></a>
				</nav>
			</div>
			<div class="row relative">
				<div class="col-sm-8 col-md-8">
					<a class="nav" id="catalogue"></a>
					<h2><lang>_howto catalogue title</lang></h2>
					<p><lang>_howto catalogue text1</lang>.</p>
					<p><span class="pink"><lang>_howto catalogue text2_1</lang></span> <lang>_howto catalogue text2_2</lang>.</p>
					<p><lang>_howto catalogue text3</lang>:</p>
					<ul class="icons">
						<li class="green">
							<lang>Rasgos naturales y actividad humana</lang>
							<ul>
								<li><lang>Medio físico marino</lang></li>
								<li><lang>Biodiversidad</lang></li>
								<li><lang>Actividad humana</lang></li>
							</ul>
						</li>
						<li class="red"><lang>Presiones e impactos</lang></li>
						<li class="blue">
							<lang>Protección y conservación</lang>
							<ul>
								<li><lang>Protección existente</lang></li>
								<li><lang>Protección propuesta</lang></li>
							</ul>
						</li>
					</ul>
				</div>
				<nav class="col-sm-3 col-md-3 col-sm-offset-1 col-md-offset-1">
					<div class="roundedFigure">
						<img src="/img/howto/ALB-uso_05_cat-ES.jpg">
						<p><lang>_howto catalogue figure1</lang></p>
					</div>
				</nav>
			</div>
			<div class="row separator relative">
				<div class="col-sm-8 col-md-8">
					<p><strong><lang>_howto catalogue text4_1</lang></strong> <lang>_howto catalogue text4_2</lang> <a href="#mapsection"><lang>sección Mapa</lang></a>-.</p>
					<div class="center">
						<a class="button add_btn add green shadow"><lang>Añadir capa a la tabla de contenido</lang></span></a>
					</div>
					<p><lang>_howto catalogue text5_1</lang> <strong><lang>_howto catalogue text5_2</lang></strong> <lang>_howto catalogue text5_3</lang> <img src="/img/map/ALB_icon_info_capa.svg">. <lang>_howto catalogue text5_4</lang>.</p>
					<div class="center">
						<a class="button metadata_btn shadow"><lang>Metadatos</lang></a>
					</div>
					<p><lang>_howto catalogue text6</lang>.</p>
					<p><lang>_howto catalogue text7</lang>.</p>
				</div>
				<nav class="col-sm-3 col-md-3 col-sm-offset-1 col-md-offset-1">
					<div class="roundedFigure">
						<img src="/img/howto/ALB-uso_06_buscar-ES.jpg">
						<p><lang>_howto catalogue figure2</lang></p>
					</div>
					<a href="#menu" class="goBack bottom"><lang>Ir al menú</lang></a>
				</nav>
			</div>
			<div class="row relative">
				<div class="col-sm-8 col-md-8">
					<a class="nav" id="join"></a>
					<h2><lang>_howto join title</lang></h2>
					<p><lang>_howto join text1_1</lang> <strong><lang>concepto de Gobernanza</lang></strong> <lang>_howto join text1_2</lang>.</p>
					<p><lang>_howto join text2_1</lang> <strong><lang>Participe</lang></strong> <lang>_howto join text2_2</lang>:</p>
					<ul class="icons">
						<li class="goodpractices">
							<span><lang>Buenas prácticas</lang>: </span>
							<lang>_howto join goodpractices</lang>.
						</li>
						<li class="sightings">
							<span><lang>Avistamiento</lang>: </span>
							<lang>_howto join sightings</lang>.
						</li>
					</ul>
					<p><lang>_howto join text3</lang></p>
					<p><lang>_howto join text4_1</lang> <strong>"<lang>Escribir una historia</lang>"</strong> <lang>_howto join text4_2</lang> <em><lang>Story Maps</lang></em> (<lang>historias en mapas</lang>).</p>
					<div class="center">
						<div class="center shadow icon_74">
							<img src="/img/participa/ALB_icon_escribir_historia.svg">
						</div>
					</div>
				</div>
			</div>
			<div class="row separator relative">
				<div class="col-sm-8 col-md-8">
					<h3><lang>_howto join subtitle</lang></h3>
					<ol class="pad_20 bold">
						<li><strong><lang>_howto join lista1_1</lang></strong> <span><lang>_howto join lista1_2</lang> <a href="#signup"><lang>sección Regístrese</lang></a>).</span></li>
						<li><strong><lang>_howto join lista2_1</lang></strong> <span><lang>_howto join lista2_2</lang>.</span></li>
						<li><strong><lang>_howto join lista3_1</lang></strong> <span><lang>_howto join lista3_2</lang>.</span></li>
						<li><strong><lang>_howto join lista4_1</lang></strong> <span><lang>_howto join lista4_2</lang> <img src="/img/participa/ALB_icon_obtener_coordenadas.svg">.</span></li>
						<li><strong><lang>_howto join lista5_1</lang></strong> <span><lang>_howto join lista5_2</lang>.</span></li>
						<li><strong><lang>_howto join lista6_1</lang></strong> <span><lang>_howto join lista6_2</lang>.</span></li>
					</ol>
					<p><span class="pink"><lang>_howto join text5_1</lang></span> -<lang>_howto join text5_2</lang> <a href="#mapsection"><lang>sección Mapa</lang></a> -<lang>_howto join text5_3</lang>.</p>
				</div>
				<nav class="col-sm-3 col-md-3 col-sm-offset-1 col-md-offset-1">
					<div class="roundedFigure">
						<img src="/img/howto/ALB-uso_07_his-ES.jpg">
						<p><lang>_howto join figure1</lang></p>
					</div>
					<a href="#menu" class="goBack bottom"><lang>Ir al menú</lang></a>
				</nav>
			</div>
			<div class="row separator relative">
				<div class="col-sm-8 col-md-8">
					<a class="nav" id="signup"></a>
					<h2><lang>_howto signup title</lang></h2>
					<h3><lang>_howto signup subtitle1</lang></h3>
					<p><lang>_howto signup text1</lang>:</p>
					<ul class="dots">
						<li><lang>_howto signup text2</lang> <a href="#mapsection"><lang>sección Mapa</lang></a>).</li>
						<li><lang>_howto signup text3</lang> <a href="#join"><lang>sección Participe</lang></a>).</li>
					</ul>

					<h3><lang>_howto signup subtitle2</lang></h3>
					<p><lang>_howto signup text4</lang></p>
					<p><lang>_howto signup text5</lang></p>
					<p><lang>_howto signup text6</lang></p>
				</div>
				<nav class="col-sm-3 col-md-3 col-sm-offset-1 col-md-offset-1">
					<div class="roundedFigure">
						<img src="/img/howto/ALB-uso_08_usuario-ES.jpg">
						<p><lang>_howto signup figure1</lang></p>
					</div>
					<a href="#menu" class="goBack bottom"><lang>Ir al menú</lang></a>
				</nav>
			</div>
		</div>
	</div>
</div>