<div id="aboutProject">
	<div class="title">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<h1><lang>Cómo usarlo</lang></h1>
				</div>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="container">
			<div class="row separator">
				<a class="nav" id="description"></a>
				<div class="col-sm-8 col-md-8">
					<a class="nav" id="front"></a>
					<h2><lang>_howto portada title</lang></h2>
					<p><lang>_howto portada text1</lang></p>
					<ol>
						<li>
							<p><lang>_howto portada lista1_1</lang> <strong><lang>mapa preconfigurado</lang></strong> <lang>_howto portada lista1_2</lang>:</p>
							<ol>
								<li class="green"><lang>Rasgos naturales y actividad humana</lang></li>
								<li class="red"><lang>Presiones e impactos</lang></li>
								<li class="blue"><lang>Protección y conservación</lang></li>
							</ol>
							<p><lang>_howto portada lista1_2</lang> <a href="#map"><lang>sección Mapa</lang></a>- <lang>_howto portada lista1_3</lang></p>
						</li>
						<li>
							<p><lang>_howto portada lista2_1</lang> <strong><lang>configuración manual</lang></strong> <lang>_howto portada lista2_2</lang> <a href="#catalogue"><lang>sección Catálogo</lang></a>- <lang>_howto portada lista2_3</lang>.</p>
						</li>
					</ol>
				</div>
				<nav class="col-sm-3 col-md-3 col-sm-offset-1 col-md-offset-1">
					<a class="nav" id="menu"></a>
					<ul>
						<li><a href="#front"><lang>Portada</lang></a></li>
						<li><a href="#map"><lang>Mapa</lang></a></li>
						<li><a href="#catalogue"><lang>Catálogo</lang></a></li>
						<li><a href="#join"><lang>Participe</lang></a></li>
						<li><a href="#signup"><lang>Registro de usuario</lang></a></li>
					</ul>
					<img src="#">
				</nav>
			</div>
			<div class="row separator">
				<a class="nav" id="description"></a>
				<div class="col-sm-8 col-md-8">
					<a class="nav" id="front"></a>
					<h2><lang>_howto map title</lang></h2>
					<h3><lang>_howto map subtitle1</lang></h3>
					<p><lang>_howto map text1</lang></p>
					<img src="#">
					<ol>
						<li><lang>_howto map lista_1</lang>.</li>
						<li><lang>_howto map lista_2</lang> <img src="#">.</li>
						<li><lang>_howto map lista_3_1</lang> <img src="#"> <lang>_howto map lista_3_2</lang>.</li>
						<li><lang>_howto map lista_4_1</lang> <img src="#"> <lang>_howto map lista_4_2</lang>.</li>
						<li><lang>_howto map lista_5</lang> <img src="#">.</li>
						<li><lang>_howto map lista_6</lang> <a href="#catalogue"><lang>sección Catálogo</lang></a>-.</li>				
					</ol>
					<p><lang>_howto map text2_1</lang><em><lang>icono de Configuración</lang></em> <img src="#"> <strong>"<lang>Guardar configuración actual</lang>"</strong>,<lang>_howto map text2_2</lang> <strong>"<lang>Cargar mi configuración</lang>"</strong> <lang>_howto map text2_3</lang>.</p>
					<p><lang>_howto map text3_1</lang> <span class="pink"><lang>_howto map text3_2</lang></span> <lang>_howto map text3_3</lang> <a href="#signup">sección Regístrese</a>-.</p>
					<p><img src="#"><lang>_howto map text4_1</lang> <strong><lang>_howto map text4_2</lang></strong> <lang>_howto map text4_3</lang> <a href="#join"><lang>sección Participe</lang></a>-.</p>
					<h3><lang>_howto map subtitle2</lang></h3>
					<p><lang>_howto map text5</lang></p>
				</div>
				<nav class="col-sm-3 col-md-3 col-sm-offset-1 col-md-offset-1">
					<div class="roundedFigure">
						<img src="#">
						<p><lang>_howto map figure1</lang></p>
					</div>
					<div class="roundedFigure">
						<img src="#">
						<p><lang>_howto map figure2</lang></p>
					</div>
					<a href="#menu"><lang>Ir al menú</lang></a>
				</nav>
			</div>
		</div>
	</div>
</div>