<!-- <div id="aboutProject"> -->
<div id="howTo">
	<div class="title">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<h1><lang>How to use it</lang></h1>
				</div>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="container">
			<div class="row separator relative">
				<div class="col-sm-12 col-md-12">
					<a class="nav" id="front"></a>
					<h2><lang>Introduction</lang></h2>
					<p><lang>Entry to the map is possible via two different pathways:</lang></p>
					<ol class="pad_20">
						<li>
							<p><lang>Can be selected by thematic maps choosing one of the preconfigured map that shows some of the most important and representative layers of the platform, these layers can also be found across the catalogue.</lang></p>
						</li>
						<li>
							<p><lang>There is also a Manual configuration to visualize the spatial data in the map - see the</lang> <a href="/<lang>lang</lang>/<lang>_link catalogue</lang>" jslink><lang>catalogue section</lang></a> - <lang>which allows all of the spatial information available in the platform to be viewed and added to the map.</lang></p>
						</li>
					</ol>
					<img class="center shadow margin_36" src="/img/howto/image_1.jpg">
				</div>
			</div>
			<div class="row separator relative">
				<div class="col-sm-12 col-md-12">
					<a class="nav" id="mapsection"></a>
					<h2><lang>Catalogue</lang></h2>
					<img class="center shadow margin_36" src="/img/howto/image_2.jpg">
					<p><lang>This is the link to a combination of spatial data inventories for the Mediterranean, which are available across the catalogs of different organisations and institutions, with information of interest on the Mediterranean.</lang></p>
					<p><span class="pink"><lang>The platform is under constant evolving</lang></span> <lang>and information will be incorporated progressively from the different institutions in the countries surrounding the Mediterranean Sea.</lang></p>
					<p><lang>It is possible to navigate easily and accurately, with information organised into three main categories and their respective subcategories</lang>:</p>
					<ul class="icons">
						<li class="green">
							<span><lang>Biodiversity</lang></span>
							<ul>
								<li><span><lang>Species</lang></span></li>
								<li><span><lang>Habitats</lang></span></li>
								<li><span><lang>Non-Indigenous Species</lang></span></li>
								<li><span><lang>Features</lang></span></li>
							</ul>
						</li>
						<li class="red">
							<span><lang>Administrative boundaries and bathymetry</lang></span>
							<ul>
								<li><lang>Jurisdictional limits</lang></li>
								<li><lang>Bathymetry</lang></li>
							</ul>
						</li>
						<li class="blue">
							<span><lang>Marine Areas of conservation interest</lang></span>
							<ul>
								<li><span><lang>Mediterranean MPAs</lang></span></li>
								<li><span><lang>SPAMI</lang></span></li>
								<li><span><lang>GFCM FRA</lang></span></li>
								<li><span><lang>NATURA2000</lang></span></li>
								<li><span><lang>Other protected areas</lang></span></li>
							</ul>
						</li>
					</ul>
					<p><lang>Each piece of spatial data can be added to the contents table for, previously, see it on the map - see</lang> <a href="/<lang>lang</lang>/<lang>_link map</lang>" jslink><lang> create map section</lang></a> -.</p>
					<div class="center"><a class="button add_btn add green shadow"><lang>Add layer</lang></a></div>
					<p><lang>It is possible to access the sheet of detailed metadata and see the description and the source of each service, by clicking on the “deploy icon” <img style="transform: rotate(-90deg); position:relative; top:2px;" src="/img/icon-flecha-b.svg"> . The sheets of metadata are normalised according to the established requirements of the European Directive INSPIRE and ISO 19115.</lang></p>
					<div class="center"><a class="button metadata_btn shadow"><lang>Metadatos</lang></a></div>
					<p><lang>The Search tool allows filtering of the layers to access the data of interest by title, source or description. It also allow an advanced search filtering by Country, MSDF Region or Year.</lang></p>
					<p><lang>The spatial data provided are interoperable, allowing connection with the standards set by the Open Geospatial Consortium (OGC) and the INSPIRE directive.</lang></p>
				</div>

			</div>
			<div class="row separator relative">
				<div class="col-sm-8 col-md-8">
					<a class="nav" id="catalogue"></a>
					<h2><lang>Create map section</lang></h2>
					<img class="center shadow margin_36" src="/img/howto/image_3.jpg">
					<p><strong><lang>Table of contents</lang>.</strong></p>
					<p><lang>Show the catalog layers added to the map in the top left hand corner. Allow:</lang></p>
					<img class="center shadow margin_36" src="/img/howto/image_4.jpg">
					<ol>
						<li><lang>Activate or disactivate the visibilty of a layer on the map by clicking on it.</lang></li>
						<li><lang>See the desciption by clicking on the information icon <img height="16" src="/img/map/ALB_icon_info_capa.svg"></lang></li>
						<li>Zoom into the layer extent by clicking on the magnifier icon <img style="background-color:#cacbcc;" height="16" src="/img/map/icon-zoom-layer.svg"></li>
						<li><lang>Change the brightness , This is most useful when you would like to view various layers simultaneously <img height="16" src="/img/map/ALB_icon_opacidad.svg"></lang></li>
						<li><lang>Eliminate layers from the contents table by clicking on <img height="16" src="/img/map/ALB_icon_descartar_capa.svg"></lang></li>
						<li><lang>Access the catalogue - view</lang> <a href="/<lang>lang</lang>/<lang>_link catalogue</lang>" jslink><lang>catalogue section</lang></a> -.</li>
					</ol>
					<p></p>
				</div>
				<nav class="col-sm-3 col-md-3 col-sm-offset-1 col-md-offset-1">
					<div class="roundedFigure">
						<img src="/img/howto/image_5.jpg">
						<p><lang>Tab linked to the Contents Table. The counters display the number of layers downloaded in each topic.</lang></p>
					</div>
				</nav>
			</div>
			<div class="row separator relative">
				<div class="col-sm-12 col-md-12">
					<h2><lang>Map tools</lang></h2>
					<p><strong><lang>Base map</lang>.</strong></p>
					<p><lang>You can choose the Base map that you want to display in the background of the map: Bing satellite, Positron Carto, Natural Earth, Esri or OpenStreetMap.</lang></p>
					<img class="center shadow margin_36" src="/img/howto/image_6.jpg">
					<p><strong><lang>Legend</lang>.</strong></p>
					<p><lang>By clicking in the Legend button you can consult the legend which shows the symbology which represent all the objects and layers in the map.</lang></p>
					<img class="center shadow margin_36" src="/img/howto/image_7.jpg">
					<p><strong><lang>Navigation tools</lang>.</strong></p>
					<p><lang>It is possible to navigate through the map by dragging, making zoom with your mouse scroll wheel or by clicking in the navigation icons. To make more/less zoom or establish the initial extent.</lang></p>
					<img class="center shadow margin_36" src="/img/howto/image_8.jpg">
					<p><strong><lang>Identification on the map</lang></strong></p>
					<p><lang>It is possible to identify the spatial objects and consult the attributes by clicking on the “Feature info” icon and then click in the map object.</lang></p>
					<img class="center shadow margin_36" src="/img/howto/image_9.jpg">
					<p><strong><lang>Get coordinates</lang></strong></p>
					<p>It is possible to get a point coordinates (latitud and longitud) by clicking in the Get coordinates incon and then select a specific location.</p>
					<img class="center shadow margin_36" src="/img/howto/image_10.jpg">
					<p><strong><lang>Overview map</lang></strong></p>
					<p><lang>It is possible show and hide the overview map that defines the boundaries of the main map by clicking on the icon.</lang></p>
					<img class="center shadow margin_36" src="/img/howto/image_11.jpg">
					<p><strong><lang>Measuring areas and distances</lang></strong></p>
					<p><lang>Using the “measuring areas” and “measuring distance” tool you can draw an area or line and get it surface or distance.</lang></p>
					<img class="center shadow margin_36" src="/img/howto/image_12.jpg">
					<p><strong><lang>Print map</lang></strong></p>
					<p>The print icon enables to download a PDF file with the layers that you are currently visualizing in the Mediterranean Platform on Biodiversity. You can choose between Landscape or Portrait map and include a Title and Description.</p>
					<img class="center shadow margin_36" src="/img/howto/image_13.jpg">
			</div>
		</div>
	</div>
</div>
