<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=768">
    <meta name="description" content="">
    <meta name="author" content="">
        
    <link rel="shortcut icon" href="/img/home/racspa_logo_azul.png">

    <title><lang>MedBiodivSDI</lang></title>
    <link rel='stylesheet' href='/css/main.min.css'>
        
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true"> </script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
  </head>

<body>
    <header>
        <div id="uppermenu">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-md-12 wrapper">
                        <div class="lang">
                            <ul id="">
                                <li class="selected"><a href="" onclick="location.href= '/' + app.lang"><lang>English</lang></a></li>
                                <li><a href="/" onclick="location.href=this.href + ('<lang>EN</lang>'.toLowerCase());return false;"><lang>EN</lang></a></li>
                            </ul>
                        </div>

                        <div class="title">
                            <a href="/<lang>lang</lang>/<lang>_link home</lang>" jslink>
                                <img style="position:relative; top:9px;" height="40px;" src="/img/home/racspa_logo_azul.png" alt="">
                            </a>
                        </div>

                        <div class="login">
                            <a id="login" class="login" href="#" jslink><lang>Iniciar Sesión</lang></a>
                            <a id="logout" class="login" style="display: none;" href="#" jslink><lang>Cerrar sesión</lang></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container-fluid">
                <div class="row" id="mainmenu">
                    <div class="col-sm-12 col-md-12">
                        <ul>

                            <!-- <li class="home selected" data-menu="home">
                                <a href="/<lang>lang</lang>/<lang>_link home</lang>" jslink><span><lang>Inicio</lang><span></a>
                            </li> -->
                            <li data-menu="map">
                                <a href="/<lang>lang</lang>/<lang>_link map</lang>" jslink><lang>Mapa</lang></a>
                            </li>
                            <li data-menu="catalogue">
                                <a href="/<lang>lang</lang>/<lang>_link catalogue</lang>" jslink><lang>Catálogo</lang></a>
                            </li>
                            
                            <div class="howTo">
                                <a href="#" jslink>?</a>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div id="map_control">
            <img src="/img/home/ALB_icon_toc_grey.svg">
        </div>
        
    </header>

    <main style="height:100%;">
    	<div id="content"></div>
    	<div id="map" style="display:none; height: 100%;"></div>
    	<div id="groupLayer"></div>
    </main>
    
    <div id="loginForms">
        <div class="header">
            <img style="position:relative; top:9px;" height="70px;" src="/img/home/racspa_logo_azul.png" alt="">
        </div>
        <div id="initSessionForm" class="loginForm">
    		<div>
                <h2><lang>Bienvenido de nuevo</lang></h2>
                <span><lang>Inicie sesión</lang></span>
            </div>
    		<input type="text" placeholder="<lang>Su usuario</lang>" class="user">
    		<input type="password" placeholder="<lang>Su contraseña</lang>">
    		<input id="signin_btn" type="button" value="<lang>Acceder</lang>" class="extraMargin">
    		<p class="error">Usuario y contraseña incorrectos</p>
     		<!-- <div class="footer">
                <p><a class="signinWindow" href="#" jslink><lang>Crear cuenta</lang></a></p>
            </div> -->
    	</div>

        <div id="createAccountForm" class="loginForm hidden" role="form">
            <input type="text" placeholder="<lang>Su nombre y apellidos</lang>" class="name" name="name">
            <input type="text" placeholder="<lang>Su correo electrónico</lang>" class="email" name="email">
            <input type="text" placeholder="<lang>La institución de la que proviene</lang>" name="institution">
            <input type="text" placeholder="<lang>Su nombre de usuario</lang>" class="user" name="user">
            <input type="password" placeholder="<lang>Escriba su contraseña</lang>" name="password">
            <input type="password" placeholder="<lang>Repita su contraseña</lang>" name="repeatPassword">
            <!-- <input type="text" placeholder="¿Por qué quiere registrarse?" name="whySignup">
            <input class="mb" type="button" value="<lang>Crear cuenta</lang>" id="signup_btn"> -->
            <!-- <p class="legal"><lang>Al crear su cuenta, acepta nuestros</lang> <a href="/<lang>lang</lang>/<lang>_link legal</lang>" jslink><lang>Términos de Uso</lang></a> <lang>y</lang> <a href="/<lang>lang</lang>/<lang>_link privacy</lang>" jslink><lang>Política de Privacidad</lang></a></p> -->
            <p class="error"><lang>Usuario y contraseña incorrectos</lang></p>
            <div class="footer">
                <p><lang>¿Es ya usuario de Alborán?</lang> <a class="loginWindow" href="#" jslink><lang>Inicie sesión</lang></a></p>
            </div>
        </div>

       <!--  <div id="signinSuccess" class="msgPopup">
            <div class="content">
                <h2><lang>Se ha creado su cuenta.</lang></h2>
                <p><lang>Para confirmarla revise su correo electrónico en unos minutos. Si pasados unos minutos no la encuentra en su buzón de entrada, compruebe la carpeta de SPAM</lang></p>
            </div>
            <input type="button" value="<lang>Aceptar</lang>" class="extraMargin">
        </div> -->
    </div>

    <div id="signinConfirmation" class="msgPopup">
        <div class="header">
            <span class="uppercase"><strong><lang>Gobernanza</lang></strong></span><lang> en el</lang><br><span class="highlight"><lang>Mar de Alborán</lang></span>
        </div>
        <div class="content">
            <h2><lang>Su usuario se ha confirmado</lang></h2>
            <p><lang>Ahora puede participar en el proyecto y puede guardar sus configuraciones.</lang></p>
        </div>
        <input type="button" value="<lang>Aceptar</lang>">
    </div>

    <div id="signinError" class="msgPopup">
        <div class="header">
            <span class="uppercase"><strong><lang>Gobernanza</lang></strong></span><lang> en el</lang><br><span class="highlight"><lang>Mar de Alborán</lang></span>
        </div>
        <div class="content">
            <h2><lang>Error al confirmar el usuario</lang></h2>
            <p><lang>Inténtelo de nuevo o intente dar de alta su usuario otra vez.</lang></p>
        </div>
        <input type="button" value="<lang>Aceptar</lang>">
    </div>
	
	<div id="configPanelMap">
		<p id="saveConfiguration" class="mt"><lang>Guardar configuración actual</lang></p>
		<div class="clear"></div>
		<p id="loadConfiguration"><lang>Cargar mi configuración</lang></p>
		<div class="clear"></div>
		<p class="preconf"><lang>Preconfigurados</lang></p>
		<div class="divImage">
			<img idConfig="1" src="/img/map/ALB_icon_config_cargar_mapa-1.svg">
			<img idConfig="2" src="/img/map/ALB_icon_config_cargar_mapa-2.svg">
			<img idConfig="3" src="/img/map/ALB_icon_config_cargar_mapa-3.svg">
		</div>
	</div>
	
	<div id="confirmSaveConfig">
		<div><lang>¿Desea guardar la configuración actual como su configuración predeterminada?</lang></div>
		<input type="button" value="<lang>Aceptar</lang>">
		<input type="button" value="<lang>Cancelar</lang>">
	</div>
	
	<div id="container_feature_info"><lang>Cargando...</lang></div>

    <div id="cookie_warning" class="hide">
        <p><lang>Utilizamos cookies propias y de terceros para mejorar nuestros servicios. Si continua navegando, consideramos que acepta su uso.</lang> <a style="text-decoration: underline;" href="/<lang>lang</lang>/<lang>_link legal</lang>"><lang>Más información</lang></a></p>
        <button onclick="app.hideCookieWarning();">Aceptar</button>
    </div>
       
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-md-3">
                    <p><i>MedBiodivSDI &copy;</i></p>
                </div>
                <div class="col-sm-9 col-md-9">
                    <p>
                        <!-- <a href="/<lang>lang</lang>/<lang>_link contact</lang>" jslink><lang>Contacto</lang></a> -->
                        <!-- <a href="/<lang>lang</lang>/<lang>_link legal</lang>" jslink><lang>Información Legal</lang></a> -->
                        <!-- <a href="/<lang>lang</lang>/<lang>_link privacy</lang>" jslink><lang>Política de privacidad</lang></a> -->
                        <a class="geographica" href="http://www.geographica.gs/" target="_blank">
                            <span>D+D</span>
                            Geographica
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>

