<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=768">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">

    <title>Mediterranean Platform on Biodiversity</title>
    <link rel='stylesheet' href='/css/main.min.css'>

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true"> </script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

<body>
    <header>
        <div id="uppermenu">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-md-12 wrapper">

                        <div class="other_logos">
                            <a href="http://www.unep.org/" target="_blank"><img height="45px" src="/img/home/logo_onu_<lang>lang</lang>.png"></a>
                            <a href="http://www.rac-spa.org/" target="_blank"><img height="45px" src="/img/home/logo_racspa_<lang>lang</lang>.png"></a>
                        </div>

                        <div class="title">
                            <a href="/<lang>lang</lang>/<lang>_link home</lang>" jslink>
                                <img style="position:relative; top:9px;" height="41px;" src="/img/logo-medbiodiv.svg" alt="">
                            </a>
                        </div>

                        <div class="login">
                            <a id="login" class="login" href="#" jslink><lang>Log in</lang></a>
                            <a id="logout" class="login" style="display: none;" href="#" jslink><lang>Logout</lang></a>
                        </div>

                        <div class="lang">
                            <ul id="">
                                <li class="selected"><a href="" onclick="location.href= '/' + app.lang"><lang>English</lang></a></li>
                                <li><a href="/" onclick="location.href=this.href + ('<lang>EN</lang>'.toLowerCase());return false;"><lang>EN</lang></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container-fluid">
                <div class="row" id="mainmenu">
                    <!-- <div class="col-sm-12 col-md-12"> -->
                    <div>
                        <ul>
                            <li data-menu="home">
                                <a href="/<lang>lang</lang>/<lang>_link home</lang>" jslink><span><lang>Home</lang><span></a>
                            </li>
                            <li data-menu="catalogue">
                                <a href="/<lang>lang</lang>/<lang>_link catalogue</lang>" jslink><lang>Catalogue</lang></a>
                            </li>
                            <li class="preconfigured_maps">
                                <lang>Thematic maps</lang>
                                <ul></ul>
                            </li>
                            <li data-menu="map">
                                <a href="/<lang>lang</lang>/<lang>_link map</lang>" jslink><lang>Create a map</lang></a>
                            </li>
                            <li data-menu="progress" class="hide">
                                <a href="/<lang>lang</lang>/<lang>_link progress</lang>" jslink><lang>In progress</lang></a>
                            </li>
                            <li data-menu="users" class="hide">
                                <a href="/<lang>lang</lang>/<lang>_link users</lang>" jslink><lang>Users</lang></a>
                            </li>
                            <div class="howTo">
                                <a href="/<lang>lang</lang>/<lang>_link howto</lang>" jslink>?</a>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div id="map_control">
            <img src="/img/home/ALB_icon_toc_grey.svg">
        </div>

    </header>

    <main style="height:100%;">
    	<div id="content"></div>
    	<div id="map" style="display:none; height: 100%;"></div>
    	<div id="groupLayer"></div>
    </main>

    <div id="loginForms">
        <div class="header">
            <img style="position:relative; top:9px;" height="70px;" src="/img/logo-medbiodiv.svg" alt="">
        </div>
        <div id="initSessionForm" class="loginForm">
    		<div>
            <h2><lang>Welcome again</lang></h2>
            <span><lang>Loggin</lang></span>
        </div>
    		<input type="text" placeholder="<lang>User name</lang>" class="user">
    		<input type="password" placeholder="<lang>Your password</lang>">
    		<input id="signin_btn" type="button" value="<lang>Access</lang>" class="extraMargin">
    		<p class="error"><lang>Wrong username or password</lang></p>
    	</div>

        <div id="createAccountForm" class="loginForm hidden" role="form"></div>
    </div>

    <div id="signinConfirmation" class="msgPopup"></div>

    <div id="signinError" class="msgPopup"></div>

	<div id="configPanelMap"></div>

	<div id="confirmSaveConfig"></div>

	<div id="container_feature_info"></div>

    <div id="cookie_warning" class="hide"></div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-md-3">
                    <p><i>Mediterranean Platform on biodiversity &copy; <span class="size_10 ml"><lang>This platform is not yet in its final form. The content is likely to be updated, modified and improved by SPA/RAC</lang></span></i></p>
                </div>
                <div class="col-sm-9 col-md-9">
                    <p>
                        <a class="geographica" href="http://www.geographica.gs/" target="_blank">
                            <span>D+D</span>
                            Geographica
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
