<div id="historyList">
	<div class="title">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-1">
					<h1><lang>Historias de Alborán</lang></h1>
					<p><lang>Para poder tomar decisiones más acertadas, es importante conocer de primera mano lo que está sucediendo en nuestro entorno. Estas son las historias compartidas por los usuarios.</lang> <a href="/<lang>lang</lang>/<lang>_link writehistory</lang>" jslink><lang>Cuéntenos la suya</lang></a>.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="tabsContainer">
		<div class="container">
			<ul class="row topTabs">
				<li class="col-sm-3 col-md-3 title selected">
					<img src="/img/participa/ALB_icon_historias_buenas.svg">
					<h2><lang>Buenas prácticas</lang></h2>
					<span>18</span>
				</li>
				<li class="col-sm-3 col-md-3 title">
					<img src="/img/participa/ALB_icon_historias_avista.svg">
					<h2><lang>Avistamientos</lang></h2>
					<span>12</span>
				</li>
			</ul>
		</div>
	</div>
	<div class="container">
		<div class="row listContainer">
			<div class="col-sm-12 col-md-12">
				<ul class="list selected" id="list-goodpractices">
					<li class="loadMore"><a href="#" class="loadMore"><img src="/img/participa/ALB_icon_mas_historias.svg"><lang>Más historias...</lang></a></li>
				</ul>
				<ul class="list" id="list-sighting">
					<li class="loadMore"><a href="#" class="loadMore"><img src="/img/participa/ALB_icon_mas_historias.svg"><lang>Más historias...</lang></a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">
				<a href="/<lang>lang</lang>/<lang>_link writehistory</lang>" class="writeHistory" jslink>
					<img src="/img/participa/ALB_icon_escribir_historia.svg"> 
					<lang>Escribir una historia</lang>
				</a>
			</div>
		</div>
	</div>
	<div class="prefoot grey_light first">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-6">
					<p><lang>El <i>proyecto Alborán</i> tiene como finalidad poner en marcha un procedimiento de gestión ambiental común en el ámbito del Mar del Alborán, facilitando el intercambio de experiencias entre todos los actores y los grupos de interés. De esta manera, se persigue identificar y unificar las pioridades que mejoren la gestión del Mar de Alborán y su entorno.</lang></p>
				</div>
				<div class="logos_coop col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1">
					<a href="http://www.poctefex.eu/" target="_blank"><img src="/img/footer/ALB_logo_cooperacion_transf.svg"></a>
					<img src="/img/footer/ALB_logo_UE.svg">
					<p><lang>Cofinanciado por el Fondo Europeo de Desarrollo Regional (FEDER)</lang></p>
				</div>
			</div>
		</div>
	</div>
	<div class="prefoot grey_light">
		<div class="container">
			<div class="logos_socios row">
				<div class="col-sm-8 col-md-8">
					<div class="group">
						<p><lang>Socios beneficiarios</lang></p>
						<div>
							<a href="http://www.iucn.org/" target="_blank"><img src="/img/footer/ALB_logo_UICN.svg"></a>
							<a href="http://www.ual.es/" target="_blank"><img src="/img/footer/ALB_logo_Univ_Almeria.svg"></a>
							<a href="http://www.juntadeandalucia.es/medioambiente/site/portalweb/" target="_blank"><img src="/img/footer/ALB_logo_Junta.svg"></a>
						</div>
					</div>
					<div class="group">
						<p><lang>Socio participante</lang></p>
						<div>
							<a href="http://www.mpm.gov.ma/" target="_blank"><img src="/img/footer/ALB_logo_Maroc.svg"></a>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-ms-4">
					<div class="group">
						<p><lang>Con el apoyo de</lang></p>
						<div>
							<a href="http://www.fundacion-biodiversidad.es/" target="_blank"><img class="large" src="/img/footer/ALB_logo_FBiodiversidad.svg"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>