<div id="historyList">
	<div class="title">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-1">
					<h1><lang>Historias de Alborán</lang></h1>
					<p><lang>Para poder tomar decisiones más acertadas, es importante conocer de primera mano lo que está sucediendo en nuestro entorno. Estas son las historias compartidas por los usuarios.</lang></p>
				</div>
			</div>
		</div>
	</div>
	<div class="tabsContainer">
		<div class="container">
			<div class="row">
				<ul class="topTabs">
					<li class="col-sm-3 col-md-3 title goodpractices buenaspracticas selected">
						<img src="/img/participa/ALB_icon_historias_buenas.svg">
						<h2><lang>Buenas prácticas</lang></h2>
						<span>0</span>
					</li>
					<li class="col-sm-3 col-md-3 title sightings avistamientos">
						<img src="/img/participa/ALB_icon_historias_avista.svg">
						<h2><lang>Avistamientos</lang></h2>
						<span>0</span>
					</li>
				</ul>
				<a class="btn_text fright" href="/<lang>lang</lang>/<lang>_link join</lang>/<lang>_link writehistory</lang>" jslink>
					<!-- <img src="/img/participa/ALB_icon_escribir-2.svg" /> -->
					<lang>Cuéntenos la suya</lang>
				</a>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row listContainer">
			<div class="col-sm-12 col-md-12">
				<ul class="list selected" id="list-goodpractices">
					<li class="loadMore"><a href="#" class="loadMore"><img src="/img/participa/ALB_icon_mas_historias.svg"><lang>Más historias...</lang></a></li>
				</ul>
				<ul class="list" id="list-sighting">
					<li class="loadMore"><a href="#" class="loadMore"><img src="/img/participa/ALB_icon_mas_historias.svg"><lang>Más historias...</lang></a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">
				<a href="/<lang>lang</lang>/<lang>_link join</lang>/<lang>_link writehistory</lang>" class="writeHistory" jslink>
					<lang>Cuéntanos tu historia sobre el mar de Alborán</lang>
					<span><lang>Participa y hazlo a través de un mapa.</lang></span>
					<img src="/img/participa/ALB_icon_escribir_historia.svg">
					<button class="history_button"><lang>Crear una historia</lang></button>
				</a>
			</div>
		</div>
	</div>
	<div class="prefoot grey_light first">
	<div class="container">
		<div class="row">
			<div class="logos_coop col-sm-7 col-md-7">
				<p><lang>Financiado por</lang></p>
				<a href="http://www.poctefex.eu/" target="_blank"><img src="/img/footer/ALB_logo_cooperacion_transf.svg"></a>
				<a href="http://europa.eu/legislation_summaries/agriculture/general_framework/g24234_es.htm" target="_blank"><img src="/img/footer/ALB_logo_UE.svg"></a>
				<a href="http://en.mava-foundation.org/" target="_blank"><img src="/img/footer/ALB_logo_MAVA.svg"></a>
				<p><lang>Cofinanciado por el Fondo Europeo de Desarrollo Regional (FEDER)</lang></p>
				<!-- <p><lang>El <i>proyecto Alborán</i> tiene como finalidad poner en marcha un procedimiento de gestión ambiental común en el ámbito del Mar del Alborán, facilitando el intercambio de experiencias entre todos los actores y los grupos de interés. De esta manera, se persigue identificar y unificar las pioridades que mejoren la gestión del Mar de Alborán y su entorno.</lang></p> -->
			</div>
			<div class="logos_coop col-sm-4 col-sm-offset-1 col-md-4 col-md-offset-1">
				<p><lang>Con el apoyo de</lang></p>
				<a href="http://www.fundacion-biodiversidad.es/" target="_blank"><img class="large" src="/img/footer/ALB_logo_FBiodiversidad.svg"></a>
				<!-- <a href="http://www.poctefex.eu/" target="_blank"><img src="/img/footer/ALB_logo_cooperacion_transf.svg"></a>
				<a href="http://europa.eu/legislation_summaries/agriculture/general_framework/g24234_es.htm" target="_blank"><img src="/img/footer/ALB_logo_UE.svg"></a>
				<p><lang>Cofinanciado por el Fondo Europeo de Desarrollo Regional (FEDER)</lang></p> -->
			</div>
		</div>
	</div>
</div>
</div>
