<li class="<%= category %>">
	<div class="row title">
		<div class="col-sm-6 col-md-6">
			<p class="name">
				<%= title_es %>
				<a class="info_btn" href="#"><img src="/img/map/ALB_icon_info_capa.svg"></a>
			</p>
		</div>
		<div class="col-sm-6 col-ms-6">
			<div class="actions">
				<a class="button add_btn add" href="#" layerid="<%= id %>" addLabel="<lang>Añadir capa a la tabla de contenido</lang>" removeLabel="<lang>Capa añadida</lang>"><lang>Añadir capa a la tabla de contenido</lang></a>
				<a class="button metadata_btn" href="<%= geoNetWk %>" target="_blank" jslink><lang>Metadatos</lang></a>
			</div>
		</div>
	</div>
	<div class="row info">
		<div class="col-sm-7 col-md-7">
			<p><%= desc_es %></p>
		</div>
		<div class="col-sm-5 col-md-5">
			<div class="row source">
				<div class="col-sm-2 col-md-2">
					<p>Fuente</p>
				</div>
				<div class="col-sm-9 col-md-9">
					<%= dataSource %>
				</div>
			</div>
		</div>
	</div>
</li>