<li>
	<div class="row title">
		<div class="col-sm-7 col-md-7">
			<p class="name">
				<%= title_es %>
				<a class="info_btn" href="#"><img src="/img/map/ALB_icon_info_capa.svg"></a>
			</p>
		</div>
		<div class="col-sm-5 col-ms-5">
			<div class="actions">
				<a class="button add_btn" href="#" layerid="<%= id %>">Añadir Capa</a>
				<a class="button metadata_btn" href="#" layerid="<%= id %>">Metadatos</a>
			</div>
		</div>
	</div>
	<div class="row info">
		<div class="col-sm-7 col-md-7">
			<p><%= desc_es %></p>
		</div>
		<div class="col-sm-5 col-md-5">
			<div class="row source">
				<div class="col-sm-1 col-md-1">
					<p>Fuente</p>
				</div>
				<div class="col-sm-4 col-md-4">
					<%= dataSource %>
				</div>
			</div>
		</div>
	</div>
</li>