<li class="<%= category %>">
	<div class="row title">
		<div class="col-sm-6 col-md-6">
			<p class="name">
				<%= title %>
				<!-- <a class="info_btn" href="#"><img src="/img/map/ALB_icon_info_capa_white.svg"></a> -->
			</p>
		</div>
		<div class="col-sm-6 col-ms-6">
			<div class="actions">

				<!-- <a class="button add_btn add" href="#" layerid="<%= id %>" addLabel="<lang>Add layer</lang><span class='noLowRes'> <lang>to the table of contents</lang></span>" removeLabel="<lang>Layer added</lang>"><lang>Add layer</lang><span class="noLowRes"> <lang>to the table of contents</lang></span></a> -->

				<a class="button add_btn add" href="#" layerid="<%= id %>" addLabel="<lang>Add layer</lang>" removeLabel="<lang>Layer added</lang>"><lang>Add layer</lang></a>

				<% if(geoNetWk){ %><a class="button metadata_btn" href="<%= geoNetWk %>" target="_blank"><lang>Metadatos</lang></a><% } %>
				<%
					/*if(app.isLogin() && (app.isAdmin || app.getHeader().username == username)){*/
					if(app.isAdmin){
					%>
					<a class="button" href="/<lang>lang</lang>/<lang>_link catalogue</lang>/<lang>_link layer</lang>/<%= id %>"><lang>Edit</lang></a>
					<% } %>
			</div>
		</div>
	</div>
	<div class="row info">
		<div class="col-sm-7 col-md-7">
			<p><%= desc %></p>
		</div>
		<div class="col-sm-5 col-md-5">
			<div class="row source">
				<div class="col-sm-2 col-md-2">
					<p><lang>Source</lang></p>
				</div>
				<div class="col-sm-10 col-md-10 source_text">
					<%= dataSource %>
				</div>
			</div>
		</div>
	</div>
</li>
