<div id="createHistory">
	<div class="title">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<% if (data.id){%>
						<h1><lang>Edit layer</lang></h1>
					<% } else { %>
						<h1><lang>New layer</lang></h1>
					<% }%>
					<a href="#" class="button cancel_btn"><img src="/img/catalogue/ALB_icon_buscar_cerrar.svg"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="layerForm">
		<div class="container">
			<fieldset class="row">
				<div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
					<div class="row input">
						<legend><lang>Categorized in...</lang></legend>
						<div class="col-sm-6 col-md-6">
							<select id="category" name="category">
								<option value="0"><lang>Choose one category</lang></option>
								<% _.each(data.categories, function(category){ %>
									<option value="<%= category['id'] %>" <%= category['id'] !== data.layerCategory ? '': 'selected' %>><%= category['title_' + app.lang] %></option>
								<% }); %>
							</select>
							<br>
							<div style="opacity:0;">
								<input type="checkbox" id="indefaultmap" name="indefaultmap" <%= data.isInConfig ? 'checked' : '' %> />
								<label for="indefaultmap"><lang>Include in the preconfigured map of the subject</lang></label>
							</div>
						</div>
						<div class="col-sm-6 col-md-6 withButton">
							<% _.each(data.categories, function(category){ %>
							<select id="topic-<%= category.id %>" name="topic" class="hide">
								<% _.each(category.topics, function(topic){ %>
									<% if(topic['title_' + app.lang]){ %>
									<option value="<%= topic['id'] %>" <%= topic['id'] !== data.topic_id ? '': 'selected' %>><%= topic['title_' + app.lang] %></option>
									<% }else{ %>
									<option value="<%= topic['id'] %>"<%= topic['id'] !== data.topic_id ? '': 'selected' %>><lang>No section</lang></option>
									<% } %>
								<% }); %>
							</select>
							<% }); %>
							<%if(app.isAdmin){%>
							<a href="#" id="createTopic" title="<lang>Create a new topic</lang>">
								<img src="/img/participa/ALB_icon_add_img.svg" alt="<lang>Create a new topic</lang>"/>
							</a>
							<%}%>
						</div>
					</div>
				</div>
				<div class="col-sm-2 col-md-2 info">
					<a href="#"><img src="/img/participa/ALB_icon_info.svg"></a>
					<div class="content">
						<p><lang>Info category help</lang></p>
					</div>
				</div>
			</fieldset>
			<fieldset class="row">
				<div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
					<div class="row input">
						<legend><lang>Name</lang></legend>
						<input type="text" class="localized" id="title-en" name="title-en" placeholder="<lang>Layer name in English</lang>" value="<%= data.title_en %>" required /><label for="title-en">EN</label>
						<input type="text" class="localized" id="title-fr" name="title-fr" placeholder="<lang>Layer name in French</lang>" value="<%= data.title_fr %>" required /><label for="title-fr">FR</label>
					</div>
				</div>
				<div class="col-sm-2 col-md-2 info">
					<a href="#"><img src="/img/participa/ALB_icon_info.svg"></a>
					<div class="content">
						<p><lang>Info name help</lang></p>
					</div>
				</div>
			</fieldset>

			<fieldset class="row">
				<div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
					<div class="row input">
						<legend><lang>Year</lang></legend>
						<input class="allwidth" type="text" id="year" name="year" placeholder="YYYY" value="<%= data.year %>" required />
					</div>
				</div>
			</fieldset>

			<fieldset class="row">
				<div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
					<div class="row input">
						<legend><lang>Country</lang></legend>
						<select id="country" name="country" <%=(app.isAdmin) ? null:'disabled'%>>
							<% _.each(data.countries, function(c){ %>
								<option value="<%= c['id_country'] %>" <%= c['id_country'] !== (data.country ? data.country:(!app.isAdmin ? app.getUserCountry():null)) ? '': 'selected' %>><%= c['name_' + app.lang] %></option>
							<% }); %>
						</select>
					</div>
				</div>
			</fieldset>

			<fieldset class="row input">
				<div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
					<div class="row input">
						<legend><lang>MSDF Region</lang></legend>
						<div class="col-sm-12 col-md-12 withButton">
							<select id="msdf" name="msdf">
								<% _.each(data.msdf_list, function(m){ %>
								<option value="<%= m['gid'] %>" <%= m['gid'] !== data.msdf ? '': 'selected' %>><%= m['name_' + app.lang] %></option>
							<% }); %>
							</select>
							<%if(app.isAdmin){%>
							<a href="#" id="createRegion" title="<lang>Create MSDF Region</lang>">
								<img src="/img/participa/ALB_icon_add_img.svg" alt="<lang>Create MSDF Region</lang>">
							</a>
							<%}%>
						</div>
					</div>
				</div>
			</fieldset>


			<fieldset class="row">
				<div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
					<div class="row input">
						<legend><lang>Descripción</lang></legend>
						<textarea id="desc-en" class="localized" name="desc-en" placeholder="<lang>Write the description in English</lang>" required><%= data.desc_en %></textarea><label for="desc-en">EN</label>
						<textarea id="desc-fr" class="localized" name="desc-fr" placeholder="<lang>Write the description in French</lang>" required><%= data.desc_fr %></textarea><label for="desc-fr">FR</label>
					</div>
				</div>
				<div class="col-sm-2 col-md-2 info">
					<a href="#"><img src="/img/participa/ALB_icon_info.svg"></a>
					<div class="content">
						<p><lang>Info description help</lang></p>
					</div>
				</div>
			</fieldset>
			<fieldset class="row">
				<div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
					<div class="row input">
						<legend><lang>Source</lang></legend>
						<input class="allwidth" type="text" id="datasource" name="datasource" placeholder="<lang>Layer's source</lang>" value="<%= data.dataSource %>" required />
					</div>
				</div>
				<div class="col-sm-2 col-md-2 info">
					<a href="#"><img src="/img/participa/ALB_icon_info.svg"></a>
					<div class="content">
						<p><lang>Info source help</lang></p>
					</div>
				</div>
			</fieldset>
			<fieldset class="row">
				<div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
					<div class="row input">
						<legend><lang>WMS Server (URL)</lang></legend>
						<input type="text" id="wmsserver" name="wmsserver" placeholder="<lang>Add a valid URL for the layer's WMS server</lang>" value="<%= data.wmsServer %>" required />
						<button class="explore" type="button"><lang>Explore</lang></button>
						<button class="geoserver" type="button"><lang>Create layer in Geoserver</lang></button>
					</div>
				</div>
				<div class="col-sm-2 col-md-2 info">
					<a href="#"><img src="/img/participa/ALB_icon_info.svg"></a>
					<div class="content">
						<p><lang>Info wms help</lang></p>
					</div>
				</div>
			</fieldset>
			<fieldset class="row">
				<div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
					<div class="row input">
						<legend><lang>Layer</lang></legend>
						<input type="text" id="layername" name="layername" placeholder="<lang>Layer</lang>" value="<%= data.wmsLayName %>" required />
					</div>
				</div>
				<div class="col-sm-2 col-md-2 info">
					<a href="#"><img src="/img/participa/ALB_icon_info.svg"></a>
					<div class="content">
						<p><lang>Info map help</lang></p>
					</div>
				</div>
			</fieldset>
			<fieldset class="row">
				<div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
					<div class="row input">
						<legend><lang>SRS</lang></legend>
						<select name="layersrs" id="layersrs">
							<option <%= (!data.id || data.layersrs == 3857) ? 'selected':null %> selected value="3857">3857</option>
							<option <%= data.layersrs == 4326 ? 'selected':null %> value="4326">4326</option>
						</select>
					</div>
				</div>
			</fieldset>
			<fieldset class="row">
				<div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
					<div class="row input">
						<legend><lang>Metadato (URL)</lang></legend>
						<input type="text" class="withAction" id="metadata" name="metadata" placeholder="<lang>Add a valid URL for layer's metadata</lang>" value="<%= data.geoNetWk %>">

						<a class="geonetwork_link" href="#" title="<lang>Enable metadata</lang>">
							<!-- <img src="/img/catalogue/ALB_icon_info_enlace.svg" alt="<lang>Enable metadata</lang>"/> -->



							<div id="meta_data_options_popup">
								<a target="_blank" href="<%='http://tomcat.medchm.net/geonetwork/srv/eng/catalog.edit#/create'%>"><lang>Create</lang></a>
								<!-- <a target="_blank" href="<%='http://tomcat.medchm.net/geonetwork/srv/eng/admin.console#/harvest'%>">Harvest</a> -->
							</div>


						</a>
					</div>
				</div>
				<div class="col-sm-2 col-md-2 info">
					<a href="#"><img src="/img/participa/ALB_icon_info.svg"></a>
					<div class="content">
						<p><lang>Info metadata help</lang></p>
					</div>
				</div>
			</fieldset>
			<div class="row sendButtons">
				<div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
					<div class="row">
						<div class="col-sm-12 col-md-12 buttonList">
							<a class="cancel_btn" href="#"><lang>Cancel</lang></a>
							<%if(app.isAdmin){%>
								<%if(data.status != 3){%>
									<a href="#" id="enviar_btn" class="button grey">
											<% if(!data.id || data.status == 2 ||data.status == 4){%>
											<span><lang>Publish layer</lang></span>
											<% }else{ %>
											<span><lang>Update layer</lang></span>
											<% } %>
									</a>
								<%}%>
							<%}else if(!data.id || (data.id && data.status != 2)){%>
								<a href="#" id="send_btn" class="button grey">
										<% if(!data.id || data.status==4 || data.status==3){%>
										<span><lang>send to review</lang></span>
										<% }else{ %>
										<span><lang>Update layer</lang></span>
										<% } %>
								</a>
							<%}%>
							<%if(!data.id || data.status == 4){%>
								<a href="#" id="draft_btn" class="button grey">
									<span><lang>Save as draft</lang></span>
								</a>
							<%}%>
							<% if(data.id && app.isAdmin && data.status ==2){%>
								<a href="#" id="reject_btn" class="button red">
									<span><lang>Reject layer</lang></span>
								</a>
							<% } %>
							<% if(data.id && app.isAdmin){%>
								<a href="#" id="borrar_btn" class="button red">
									<span><lang>Delete layer</lang></span>
								</a>
							<% } %>
						</div>


						<!-- <div class="col-sm-2 col-md-2">
							<a class="cancel_btn" href="#"><lang>Cancel</lang></a>
						</div> -->
						<!-- <div class="col-sm-4 col-md-4">
							<%if(app.isAdmin){%>
								<a href="#" id="enviar_btn" class="button grey">
										<% if(!data.id || data.status == 3 ||data.status == 4){%>
										<span><lang>Publish layer</lang></span>
										<% }else{ %>
										<span><lang>Update layer</lang></span>
										<% } %>
								</a>
							<%}else{%>
								<a href="#" id="send_btn" class="button grey">
										<% if(!data.id || data.status==4){%>
										<span><lang>send to review</lang></span>
										<% }else{ %>
										<span><lang>Update layer</lang></span>
										<% } %>
								</a>
							<%}%>
						</div> -->

						<!-- <div class="col-sm-6 col-md-6">
							<% if(data.id && app.isAdmin){%>
								<a href="#" id="borrar_btn" class="fright button red">
									<span><lang>Delete layer</lang></span>
								</a>
							<% } %>
							<%if(!data.id || data.status == 4){%>
								<a href="#" id="draft_btn" class="fright button grey">
									<span><lang>Save as draft</lang></span>
								</a>
							<%}%>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Popups -->
	<div id="layerSectionCreation" class="msgPopup">
		<div class="content">
			<h2><lang>Create a new topic</lang></h2>
			<fieldset>
				<input type="text" class="localized" id="sectiontitle-en" name="sectiontitle-en" placeholder="<lang>Section name in English</lang>" required /><label for="sectiontitle-en">EN</label>
				<input type="text" class="localized" id="sectiontitle-fr" name="sectiontitle-fr" placeholder="<lang>Section name in French</lang>" required /><label for="sectiontitle-fr">FR</label>
			</fieldset>
		</div>
		<input type="button" class="btn_yesno" id="btn_save" value="<lang>Save</lang>">
        <input type="button" class="btn_yesno" id="btn_cancel" value="<lang>Cancel</lang>">
	</div>


	<div id="layerSectionReject" class="msgPopup">
		<div class="content">
			<h2><lang>Reject layer</lang></h2>
			<fieldset>
				<textarea></textarea>
			</fieldset>
		</div>
		<input type="button" class="btn_yesno" id="btn_save" value="<lang>Accept</lang>">
    <input type="button" class="btn_yesno" id="btn_cancel" value="<lang>Cancel</lang>">
	</div>

	<div id="regionSectionCreation" class="msgPopup">
		<div class="content">
			<h2><lang>New MSDF Region</lang></h2>
			<fieldset>
				<input type="text" class="localized" id="region-en" name="region-en" placeholder="<lang>Region name in English</lang>" required /><label for="region-en">EN</label>
				<input type="text" class="localized" id="region-fr" name="region-fr" placeholder="<lang>Region name in French</lang>" required /><label for="region-fr">FR</label>
			</fieldset>
		</div>
		<input type="button" class="btn_yesno" id="btn_save" value="<lang>Save</lang>">
        <input type="button" class="btn_yesno" id="btn_cancel" value="<lang>Cancel</lang>">
	</div>


	<div id="layerCreateSuccess" class="msgPopup">
        <div class="content">
			<% if(!data.id){%>
					<h2><lang>Your layer has been created</lang></h2>
			<% }else{ %>
			<h2><lang>Your layer has been updated</lang></h2>
			<% } %>
            <p></p>
        </div>
        <input type="button" value="<lang>Accept</lang>">
    </div>

    <div id="layerCreateError" class="msgPopup">
        <div class="content">
			<% if(!data.id){%>
            <h2><lang>Error. The layer coundn't be created.</lang></h2>
			<% }else{ %>
			<h2><lang>Error. The layer couldn´t be updated.</lang></h2>
			<% } %>
            <p><lang>Please try again or contact the administrator</lang></p>
        </div>
        <input type="button" value="<lang>Accept</lang>">
    </div>

    <div id="layerCancelConfirmation" class="msgPopup">
        <div class="content">
			<% if(!data.id){%>
            <h2><lang>Cancel layer creation</lang></h2>
			<% }else{ %>
			<h2><lang>Cancel layer update</lang></h2>
			<% } %>
            <p><lang>update_question</lang></p>
        </div>
        <input type="button" class="btn_yesno" id="btn_yes" value="<lang>Yes</lang>">
        <input type="button" class="btn_yesno" id="btn_no" value="<lang>No</lang>">
    </div>

	<div id="layerDeleteConfirmation" class="msgPopup">
        <div class="content">
			<h2><lang>Delete layer</lang></h2>
            <p><lang>delete_question</lang></p>
        </div>
        <input type="button" class="btn_yesno" id="btn_yes" value="<lang>Yes</lang>">
        <input type="button" class="btn_yesno" id="btn_no" value="<lang>No</lang>">
    </div>

    <div id="wmsLayers" class="msgPopup">
    	<p class="error"><lang>Exploring ...</lang></p>
    	<p class="notSupport"><lang>Reference system not supported</lang></p>
    	<p class="notFound"><lang>Ninguna capa encontrada</lang></p>
        <div class="layerList"></div>
    </div>

    <div id="geoserverPopup" class="msgPopup">
    	<h2><lang>Create layer in Geoserver</lang></h2>
    	<input id="geoserverZip" type="file" accept=".zip">
    	<form>
	    	<input type="text" name="layer_name" placeholder="<lang>Layer name</lang>">
	    	<span class="select_geoserver_zip"><lang>Add SHP (zip file)</lang></span>
	    	<p><lang>You can include your layer's SLD in the ZIP file or you can choose the type of layer to upload a default SLD.</lang></p>
	    	<select name="sld_type">
	    		<option value="medbiodivsdi_point"><lang>Point</lang></option>
	    		<option value="medbiodivsdi_line"><lang>Line</lang></option>
	    		<option selected value="medbiodivsdi_poly"><lang>Polygon</lang></option>
	    	</select>
			<input id="geoserverUpload" type="button" value="<lang>Create layer</lang>">
			<p class="creating hide"><lang>Creating layer, wait please</lang></p>
			<p class="problem hide"><lang>The workspace does not exist.</lang></p>
			<p class="problem hide"><lang>The data store already exists.</lang></p>
			<p class="problem hide"><lang>Error. The Geoserver layer couldn't be created.</lang></p>
			<p class="problem hide"><lang>Missing files.</lang></p>
    	</form>
    </div>

</div>
