<div id="aboutProject" class="legal">
	<div class="title">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<h1><lang>Privacidad & Seguridad</lang></h1>
				</div>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="container">
		    <div class="row">
		        <div class="col-sm-12 col-md-12">
		        	<h2><lang>_legal fotografías title</lang></h2>
		            <p><lang>_legal fotografías text 1</lang></p>
		            <p><lang>_legal fotografías text 2</lang></p>
		            <p><lang>_legal fotografías text 3</lang></p>
		        </div>
		    </div>
		    <div class="row">
		        <div class="col-sm-12 col-md-12">
		        	<h2><lang>_legal mapas title</lang></h2>
		            <p><lang>_legal mapas text</lang></p>
		        </div>
		    </div>
		    <div class="row">
		        <div class="col-sm-12 col-md-12">
		        	<h2><lang>_legal fronteras title</lang></h2>
		            <p><lang>_legal fronteras text</lang></p>
		        </div>
		    </div>
		    <div class="row">
		    	<a class="nav" id="privacy"></a>
		        <div class="col-sm-12 col-md-12">
		        	<h2><lang>_legal privacidad title</lang></h2>
		            <p><lang>_legal privacidad text 1</lang></p>
		            <p><lang>_legal privacidad text 2</lang></p>
		        </div>
		    </div>
		    <div class="row">
		        <div class="col-sm-12 col-md-12">
		        	<h2><lang>_legal datos title</lang></h2>
		            <p><lang>_legal datos text</lang></p>
		        </div>
		    </div>
		    <div class="row">
		        <div class="col-sm-12 col-md-12">
		        	<h2><lang>_legal vinculos title</lang></h2>
		            <p><lang>_legal vinculos text</lang></p>
		        </div>
		    </div>
		    <div class="row">
		        <div class="col-sm-12 col-md-12">
		        	<h2><lang>_legal cookies title</lang></h2>
		            <p><lang>_legal cookies text</lang></p>
		        </div>
		    </div>
		    <div class="row">
		        <div class="col-sm-12 col-md-12">
		        	<h2><lang>_legal administrador title</lang></h2>
		            <p><lang>_legal administrador text</lang></p>
		        </div>
		    </div>
		    <div class="row">
		        <div class="col-sm-12 col-md-12">
		        	<h2><lang>_legal protección title</lang></h2>
		            <p><lang>_legal protección text 1</lang></p>
		            <p><lang>_legal protección text 2</lang></p>
		            <p><lang>_legal protección text 3</lang></p>
		        </div>
		    </div>
		</div>
	</div>
</div>