<div class="oldbrowser_container">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12">
				<img src="/img/home/ALB_navegador_no_soportado-es.png" class="center" usemap="browsermap">
				<map name="browsermap" id="browsermap">
					<area shape="rect" coords="81,468,700,580" href="http://www.mozilla.org/firefox/" target="_blank" />
					<area shape="rect" coords="82,362,700,466" href="http://www.google.com/chrome/" target="_blank" />
					<area shape="rect" coords="81,583,700,691" href="http://windows.microsoft.com/ie" target="_blank" />
				</map>
			</div>
		</div>
	</div>
</div>