<div id="createHistory">
	<div class="title">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<% if (data.id){%>
						<h1><lang>Edit section</lang></h1>
					<% } else { %>
						<h1><lang>New section</lang></h1>
					<% }%>
					<a href="#" class="button cancel_btn"><img src="/img/catalogue/ALB_icon_buscar_cerrar.svg"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="layerForm">
		<div class="container">
			<fieldset class="row">
				<div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
					<div class="row input">
						<legend><lang>Categorized in...</lang></legend>
						<div class="col-sm-12 col-md-12">
							<select id="category" name="category">
								<option value="0"><lang>Choose one category</lang></option>
								<% _.each(data.categories, function(category){ %>
									<option value="<%= category['id'] %>" <%= category['id'] !== data.category_id ? '': 'selected' %>><%= category['title_' + app.lang] %></option>
								<% }); %>
							</select>
						</div>
					</div>
				</div>
				<div class="col-sm-2 col-md-2 info">
					<a href="#"><img src="/img/participa/ALB_icon_info.svg"></a>
					<div class="content">
						<p><lang>Info category help</lang></p>
					</div>
				</div>
			</fieldset>
			<fieldset class="row">
				<div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
					<div class="row input">
						<legend><lang>Name</lang></legend>
						<input type="text" class="localized" id="title-es" name="title-es" placeholder="<lang>Layer name in Spanish</lang>" value="<%= data.title_es %>" required /><label for="title-es">ES</label>
						<input type="text" class="localized" id="title-en" name="title-en" placeholder="<lang>Layer name in English</lang>" value="<%= data.title_en %>" required /><label for="title-en">EN</label>
						<input type="text" class="localized" id="title-fr" name="title-fr" placeholder="<lang>Layer name in French</lang>" value="<%= data.title_fr %>" required /><label for="title-fr">FR</label>
					</div>
				</div>
				<div class="col-sm-2 col-md-2 info">
					<a href="#"><img src="/img/participa/ALB_icon_info.svg"></a>
					<div class="content">
						<p><lang>Info name help</lang></p>
					</div>
				</div>
			</fieldset>
			<div class="row sendButtons">
				<div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
					<div class="row">
						<div class="col-sm-4 col-md-4">
							<a class="cancel_btn" href="#"><lang>Cancel</lang></a>
						</div>
						<div class="col-sm-4 col-md-4">
							<a href="#" id="enviar_btn" class="button grey">
								<% if(!data.id){%>
								<span><lang>Create section</lang></span>
								<% }else{ %>
								<span><lang>Update section</lang></span>
								<% } %>
							</a>
						</div>
						<% if(data.id){%>
						<div class="col-sm-4 col-md-4">
							<a href="#" id="borrar_btn" class="fright button red">
								<span><lang>Delete section</lang></span>
							</a>
						</div>
						<% } %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Popups -->
	<div id="sectionCreateSuccess" class="msgPopup">
        <div class="content">
			<% if(!data.id){%>
            <h2><lang>Your section has been created</lang></h2>
			<% }else{ %>
			<h2><lang>Your section has been updated</lang></h2>
			<% } %>
            <p></p>
        </div>
        <input type="button" value="<lang>Accept</lang>">
    </div>

    <div id="sectionCreateError" class="msgPopup">
        <div class="content">
			<% if(!data.id){%>
            <h2><lang>Error creating your section</lang></h2>
			<% }else{ %>
			<h2><lang>Failed to update section</lang></h2>
			<% } %>
            <p><lang>Please try again or contact the administrator</lang></p>
        </div>
        <input type="button" value="<lang>Accept</lang>">
    </div>

    <div id="sectionCancelConfirmation" class="msgPopup">
        <div class="content">
			<% if(!data.id){%>
            <h2><lang>Cancel section creation</lang></h2>
			<% }else{ %>
			<h2><lang>Cancel section update</lang></h2>
			<% } %>
            <p><lang>Are you sure you want to leave? The entered data will be lost.</lang></p>
        </div>
        <input type="button" class="btn_yesno" id="btn_yes" value="<lang>Yes</lang>">
        <input type="button" class="btn_yesno" id="btn_no" value="<lang>No</lang>">
    </div>

	<div id="sectionDeleteConfirmation" class="msgPopup">
		<div class="content">
			<h2><lang>Delete section</lang></h2>
			<p><lang>Are you sure you want to delete this section?</lang></p>
		</div>
		<input type="button" class="btn_yesno" id="btn_yes" value="<lang>Yes</lang>">
		<input type="button" class="btn_yesno" id="btn_no" value="<lang>No</lang>">
	</div>

	<div id="sectionCannotDelete" class="msgPopup">
		<div class="content">
			<h2><lang>Can not delete section</lang></h2>
			<p><lang>You can not delete a section containing layers. Please delete or change section and try again.</lang></p>
		</div>
		<input type="button" value="<lang>Accept</lang>">
	</div>
</div>
