<div id="createHistory">
	<div class="title">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<% if (data.id){%>
						<h1><lang>Editar sección</lang></h1>
					<% } else { %>
						<h1><lang>Nueva sección</lang></h1>
					<% }%>
					<a href="#" class="button cancel_btn"><img src="/img/catalogue/ALB_icon_buscar_cerrar.svg"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="layerForm">
		<div class="container">
			<fieldset class="row">
				<div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
					<div class="row input">
						<legend><lang>Categorizar en...</lang></legend>
						<div class="col-sm-12 col-md-12">
							<select id="category" name="category">
								<option value="0"><lang>Seleccione una temática</lang></option>
								<% _.each(data.categories, function(category){ %>
									<option value="<%= category['id'] %>" <%= category['id'] !== data.category_id ? '': 'selected' %>><%= category['title_' + app.lang] %></option>
								<% }); %>
							</select>
						</div>
					</div>
				</div>
				<div class="col-sm-2 col-md-2 info">
					<a href="#"><img src="/img/participa/ALB_icon_info.svg"></a>
					<div class="content">
						<p><lang>Info ayuda categorizar en...</lang></p>
					</div>
				</div>
			</fieldset>
			<fieldset class="row">
				<div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
					<div class="row input">
						<legend><lang>Nombre</lang></legend>
						<input type="text" class="localized" id="title-es" name="title-es" placeholder="<lang>Nombre de la capa en espa&ntilde;ol</lang>" value="<%= data.title_es %>" required /><label for="title-es">ES</label>
						<input type="text" class="localized" id="title-en" name="title-en" placeholder="<lang>Nombre de la capa en inglés</lang>" value="<%= data.title_en %>" required /><label for="title-en">EN</label>
						<input type="text" class="localized" id="title-fr" name="title-fr" placeholder="<lang>Nombre de la capa en francés</lang>" value="<%= data.title_fr %>" required /><label for="title-fr">FR</label>
					</div>
				</div>
				<div class="col-sm-2 col-md-2 info">
					<a href="#"><img src="/img/participa/ALB_icon_info.svg"></a>
					<div class="content">
						<p><lang>Info ayuda nombre</lang></p>
					</div>
				</div>
			</fieldset>
			<div class="row sendButtons">
				<div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
					<div class="row">
						<div class="col-sm-4 col-md-4">
							<a class="cancel_btn" href="#"><lang>Cancelar</lang></a>
						</div>
						<div class="col-sm-8 col-md-8">
							<a href="#" id="enviar_btn" class="button grey">
								<% if(!data.id){%>
								<span><lang>Crear sección</lang></span>
								<% }else{ %>
								<span><lang>Actualizar sección</lang></span>
								<% } %>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Popups -->
	<div id="sectionCreateSuccess" class="msgPopup">
        <div class="content">
			<% if(!data.id){%>
            <h2><lang>Su sección ha sido creada</lang></h2>
			<% }else{ %>
			<h2><lang>Su sección ha sido actualizada</lang></h2>
			<% } %>
            <p><lang></lang></p>
        </div>
        <input type="button" value="<lang>Aceptar</lang>">
    </div>

    <div id="sectionCreateError" class="msgPopup">
        <div class="content">
			<% if(!data.id){%>
            <h2><lang>Error al crear su sección</lang></h2>
			<% }else{ %>
			<h2><lang>Error al actualizar su sección</lang></h2>
			<% } %>
            <p><lang>Inténtelo de nuevo o contacte con el administrador</lang></p>
        </div>
        <input type="button" value="<lang>Aceptar</lang>">
    </div>

    <div id="sectionCancelConfirmation" class="msgPopup">
        <div class="content">
			<% if(!data.id){%>
            <h2><lang>Cancelar creación de sección</lang></h2>
			<% }else{ %>
			<h2><lang>Cancelar actualización de sección</lang></h2>
			<% } %>
            <p><lang>¿Está seguro de querer salir? Los datos introducidos se perderán.</lang></p>
        </div>
        <input type="button" class="btn_yesno" id="btn_yes" value="<lang>Sí</lang>">
        <input type="button" class="btn_yesno" id="btn_no" value="<lang>No</lang>">
    </div>
</div>
