#aboutProject {
	padding-top: 36px;
	.header{
		z-index: 2;
		position: fixed;
    top: 72px;
		height: 36px;
		display: flex;
    align-items: center;
    justify-content:center;
    width: 100%;
    background-color: @white;
		a{
			text-transform: uppercase;
			// .lato(light);
			font-size: 13px;
			color:@bluegrey_light;
			margin-right: 40px;
			&:last-child{
				margin-right:0;
			}
			&.selected{
				height: 100%;
				display: flex;
				align-items: center;
				color:@bluegrey_header_light;
				border-bottom: 2px solid @pink;
			}
		}
	}
	section{

		&:last-of-type{
			padding-bottom: 60px;
		}

		&:nth-of-type(1){
			.header{
				&:before{
					background-color: rgba(0,0,102,.3);
				}
			}
		}
		&:nth-of-type(3){
			.header{
				background-image: url('../img/ALB_img_bg7.jpg');
				&:before{
					background-color: rgba(164,201,226,.5);
				}
			}
		}
		&:nth-of-type(4){
			.header{
				background-image: url('../img/ALB_img_bg8.jpg');
				&:before{
					background-color: rgba(255,51,102,.5);
				}	
			}
		}
		&:nth-of-type(5){
			.header{
				background-image: url('../img/ALB_img_bg9.jpg');
				&:before{
					background-color: rgba(204,153,0,.5); 
				}
			}
		}


		.header{
			position: relative;
			height: 126px;
			background-image: url('../img/about/ALB_img_about1.jpg');
			background-size: cover;
			background-position: center;
			top:0;
			margin-bottom: 40px;
			z-index: 1;
			
			&:before{
				content:'';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
			h2{
				z-index: 1;
				color:@white;
				.lato(bolditalic);
				font-size: 24px;
			}
		}

		h3{
			text-transform: uppercase;
			.lato(regular);
			font-size: 18px;
			color:@pink;
			text-align: center;
			margin-bottom: 30px;
		}
		p,li{
			font-size: 16px;
			line-height: 20px;
			color:@bluegrey;
			.lato(light);
			margin-bottom: 20px;
		}
		a{
			color:@pink;
			border-bottom: 1px solid @pink;
		}
		span{
			.lato(bold);
			font-size: 16px;
			line-height: 20px;
			color: @bluegrey;
		}
		ul{
			li{
				display: flex;
				img{
			    align-self: baseline;
					position: relative;
					bottom: 3px;
				}
			}
		}
		
		&#characteristics{
			margin-bottom: 54px;
			margin-top: 15px;
			ul{
				/*display: flex;
				flex-direction: column;
				align-items: center;*/
				li{
					margin-bottom: 0;
					display: flex;
					flex-direction: column;

					&.expand{
						span{
							&:before{
								transform: rotate(90deg);
							}
						}
						.content{
							max-height: 1000px;
						}
					}


					span{
						cursor: pointer;
						height: 50px;
						line-height: 50px !important;
						font-size: 15px;
						line-height: 20px;
						display: block;
						border-bottom: 1px solid @grey_footer;
						width: 100%;
						/*width: 460px;*/
						/*text-align: center;*/
						text-transform: uppercase;
						.lato(light);
						&:before{
							content: '';
							display: inline-block;
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 6px 0 6px 8px;
							border-color: transparent transparent transparent @bluegrey;
							/*float: right;*/
							margin-right: 10px;
							transition: transform .25s;
						}
					}
					.content{
						max-height: 0;
						overflow: hidden;
						transition: max-height .25s;
					}
					table{
						width: 100%;
						margin-top: 10px;
						tr{
							border-bottom: 1px solid @grey_light;
							td,th{
								text-align: right;
								&:first-child{
									text-align:left;
								}
							}
						}
					}
					p{
						margin-top: 10px;
					}
				}
			}
		}
		.separator{
			width: 100%;
			height: 1px;
			background-color: @grey_footer;
			margin: 40px 0;
		}
		.contact{
			text-align: center;
			h4{
				font-size: 18px;
				text-transform: uppercase;
				color:@grey_footer_dark;
			}
			span{
				margin-top: 20px;
				font-size: 15px;
				color:@bluegrey;
				display: block;
			}
		}
	}
} 

#howTo {
	@grey_border: #e0e0e1;

	.title {
		background-color: @grey_light;
		border-bottom: 1px solid @grey_footer;
		.lato(bold);
		color: @pink;
		text-align: center;
		padding: 30px 0 25px;
		margin-bottom: 8px;

		h1 {
			font-size: 1.8em;

			em {
				.lato(bolditalic);
			}
		}
	}

	.content {
		.container {

			&:last-child {
				margin-bottom: 70px;
			}

			& > .row {
				margin-top: 36px;

				&.relative {
					position: relative;

					.col-sm-3, .col-md-3 {
						position: absolute;
						height: 100%;
						top: 0;
						right: 0;

						.bottom {
							position: absolute;
							right: 0;
							bottom: 1.8em;
						}
					}

					.bottom {
						position: absolute;
						right: 0;
						bottom: 1.05em;
						text-align: right;
					}
				}

				&.separator {
					border-bottom: 1px solid @grey_border;
				}
			}
		}

		h2 {
			.lato(bold);
			color: @grey_header_dark;
			text-transform: uppercase;
			font-size: 9pt;
			margin-bottom: 30px;

			&.center {
				text-align: center;
				margin-bottom: 0;

				&:before, &:after {
					content: "";
					display: inline-block;
					width: 174px;
					height: 1px;
					background-color: @grey_footer;
					margin: 0 10px;
					vertical-align: middle;
				}
			}
		}

		h3 {
			.lato(bold);
			font-size: 1.05em;
			color: @grey_header_dark;

			&.grey_4 {
				color: @grey_4;
			}
		}

		p {
			color: @grey_4;
			.lato(regular);
			font-size: 1.05em;
			margin-bottom: 30px;

			&.big {
				text-align: center;
				.lato(light);
				font-size: 1.3em;
				line-height: 1.75em;
				padding-bottom: 26px;
				border-bottom: 1px solid @grey_border;
			}

			&.noMargin {
				margin-bottom: 0;
			}

			a {
				color: @grey_header_dark;
				padding-bottom: 3px;
				border-bottom: 1px solid @grey_5;
			}


			img {
				margin: 0 5px;
			}
		}

		.icons img {
			margin-bottom: 36px;
		}

		nav ul li {
			color: @grey_header_dark;

			&:before {
				content: url('/img/about/ALB_icon_li_menu_sec.svg');
				margin-right: 10px;
				position: relative;
				top: 2px;
			}
		}

		a.nav {
			position: relative;
			top: -135px;
		}

		a.goBack {
			color: @grey_header_dark;
			&:before {
				content: url('/img/about/ALB_icon_subir.svg');
				margin-right: 3px;
			}
		}

		ol {
			list-style-position: inside;
			font-size: 1.05em;
			color: @grey_4;

			p {
				font-size: 1em;
			}

			a {
				color: @grey_header_dark;
				padding-bottom: 3px;
				border-bottom: 1px solid @grey_5;
			}

			img {
				margin: 0 5px;
			}

			&.pad_20 {
				padding-left: 20px;
				margin-bottom: 45px;

				&.bold {
					.lato(bold);

					span {
						.lato(regular);
					}
				}
			}

			&.icons {
				font-size: 1em;

				li {
					position: relative;
					padding-left: 20px;
					margin-bottom: 25px;
					font-size: 1em;

					&:before {
						display: inline-block;
						margin-right: 5px;
						position: absolute;
						left: 0;
						top: 2px;
					}

					&.green:before {
						content: url('/img/map/ALB_icon_config_cargar_mapa-1.svg');
					}

					&.red:before {
						content: url('/img/map/ALB_icon_config_cargar_mapa-2.svg');
					}

					&.blue:before {
						content: url('/img/map/ALB_icon_config_cargar_mapa-3.svg');
					}

					&.goodpractices {
						&:before {
							content: url('/img/participa/ALB_icon_historias_buenas.svg');
						}

						span {
							color: @ocre;
						}
					}

					&.sightings {
						&:before {
							content: url('/img/participa/ALB_icon_historias_avista.svg');
						}

						span {
							color: @ocre;
						}
					}

				}
			}
		}

		ul {

			&.dots{
				list-style-type: disc;
				list-style-position: inside;
				font-size: 1.05em;
				color: @grey_4;

				li {
					margin-bottom: 25px;

					a {
						color: @grey_header_dark;
						padding-bottom: 3px;
						border-bottom: 1px solid @grey_5;
					}
				}
			}

			&.icons {
				font-size: 1.05em;

				li {
					position: relative;
					padding-left: 20px;
					margin-bottom: 25px;
					font-size: 1em;

					&:before {
						display: inline-block;
						margin-right: 5px;
						position: absolute;
						left: 0;
					}

					&.green:before {
						content: url('/img/map/ALB_icon_config_cargar_mapa-1.svg');
					}

					&.red:before {
						content: url('/img/map/ALB_icon_config_cargar_mapa-2.svg');
					}

					&.blue:before {
						content: url('/img/map/ALB_icon_config_cargar_mapa-3.svg');
					}

					&.goodpractices, &.sightings {
						padding-left: 30px;
						color: @grey_4;

						span {
							color: @ocre;
							.lato(bold);
						}
					}

					&.goodpractices {
						&:before {
							content: url('/img/participa/ALB_icon_historias_buenas.svg');
						}
					}

					&.sightings {
						&:before {
							content: url('/img/participa/ALB_icon_historias_avista.svg');
						}
					}

					ul {
						list-style: disc;
						padding-left: 36px;

						li {
							margin-bottom: 0;
							padding-left: 0;
						}
					}

				}
			}
		}

		.center {
			text-align: center;
		}

		.shadow {
			box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
		}

		.icon_74 {
			width: 72px;
			height: 72px;
			border-radius: 36px;

			img {
				max-width: 74px;
				position: relative;
				top: -1px;
				left: -1px;
			}
		}

		.margin_36 {
			margin-bottom: 36px;
		}

		.button {
			padding: 4px 8px;
			margin-left: 15px;
			margin-bottom: 25px;
			color: @white;
			border-radius: 2px;
			font-size: 0.7em;
			.lato(bold);
			text-transform: uppercase;
			display: inline-block;
			overflow: hidden;

			&.green {
				color: @green;
			}

			span {
				.lato(bold);
			}

			&.add_btn, &.metadata_btn {
				border: 1px solid;
				transition: all .5s ease;
				white-space: nowrap;
				max-width: 162px;
				.lato(light);

				@media (max-width: 1023px){
					transition: border-color .5s ease, background-color .5s ease;
				}
				
				&:before {
					content: url('@{imgPath}catalogue/ALB_icon_anadir_capa_1.svg');
					margin-right: 5px;
					position: relative;
					top: 4px;
				}

				&.add {
					background-color: @white;
					max-width: 310px;

					&:before {
						top: 1px;
					}
				}
			}

			&.metadata_btn {
				color:@green;
				&:before {
					display:none;
				}
			}

			/*&.metadata_btn {
				background-color: @grey_groupTitleNumber;
				border: 1px solid @grey_groupTitleNumber;
				&:after{
					content: url('@{imgPath}catalogue/ALB_icon_enlace_externo.svg');
					margin-left: 5px;
					position: relative;
					top: 4px;
				}
			}*/
		}

		.roundedFigure {
			margin-top: 70px;
			text-align: center;

			&.noTopMargin {
				margin-top: 0;
			}

			img {
				border: 10px solid @grey_footer;
				border-radius: 240px;
				max-width: calc(~'100% - 24px');
				margin-bottom: 5px;
			}

			p {
				font-size: 0.84em;
				line-height: 1.3em;
			}
		}
	}

	.photoContainer {
		background-color: @grey_light;
		font-size: 11pt;
		margin-top: 36px;

		.container .row {
			margin: 0;

			.photoHolder {
				padding: 0;

				img {
					margin-bottom: -0.4em;
				}
			}

			p {
				margin: 0 0 0 10px;
				font-size: 0.9em;

				&:first-child{
					margin-top: 25px;
				}
			}
		}
	}

	.logos_socios_color {
		font-size: 0.8em;

		.group {
			display: inline-block;
			height: 118px;

			&:first-child {
				margin-right: 20px;
			}

			a {
				display: inline-block;
				height: 72px;
				margin-right: 20px;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	.address {
		font-size: 0.9em;
		line-height: 1.2em;

		p {
			margin-bottom: 20px;
		}
	}

	&.legal {
		.title {
			margin-bottom: 36px;
		}

		.content .container {

			a.nav {
				top: -97px;
			}

			& > .row {
				margin-top: 0;
			}

			h2 {
				margin-bottom: 0;
			}
		}
	}
}