@green_titlebck: #d9f0e8;
@red_titlebck: #ffe1d9;
@blue_titlebck: #d9eefb;
@tabs_separator: #e0e0e1;
@grey_groupTitleNumber: #909499;
@grey_layerHover: #f4f4f4;
@grey_infoLayerText: #697077;


#searchbar {
	background-color: @grey_light;
	border-bottom: 1px solid @grey_footer;
	text-align: center;
	overflow: hidden;

	@media (max-width: 1023px) {
		padding-left: 30px;
	}

	#createLayer {
		position: absolute;
		left: 10px;
		top: 50%;
		margin-top: calc(~'0px - 0.7em - 8px');

		color: @pink;
		border-color: @pink;
		padding: 6px 16px 7px 10px;
		line-height: 1em;

		&:before {
			content: url('@{imgPath}catalogue/ALB_icon_nueva_capa.svg');
			margin-right: 5px;
			position: relative;
			top: 2px;
		}

		&:hover {
			background-color: @white;
		}
	}

	input[type="text"] {
		width: 90%;
		height: 70px;
		background-color: transparent;
		color: @pink;
		font-size: 1.8em;
		outline: 0;
		text-align: center;
		.lato(bold);
		margin: 5px 0;

		&:focus {
			outline: 0;
		}
	}

	button {
		background: none;
		height: 36px;
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -15px;

		@media (max-width: 1023px) {
			right: 30px;
		}

		span {display: none;}

		&:after {
			content: url('@{imgPath}/catalogue/ALB_icon_buscar.svg');
		}
	}

	&.enabled {
		background-color: @white;
		border-bottom-color: @pink;

		input[type="text"] {
			color: @grey_header_dark;
			.lato(regular)
		}

		button:after {
			content: url('@{imgPath}/catalogue/ALB_icon_buscar_cerrar.svg');
		}
	}
}

.catalogue_list {
	padding-bottom: 54px;

	.tabsContainer {
		border-bottom: 1px solid @tabs_separator;
		background-color: @grey_layerHover;
		height: 49px;

		.topTabs {
			font-size: 10pt;

			.title {
				border: solid @tabs_separator;
				border-width: 0 0 1px 1px;
				padding: 11px 9px 11px;
				height: 49px;
				display: block;

				&.hidden {
					display: none;
				}

				h2 {
					text-align: left;
					position: relative;
					.lato(regular);
					font-size: 11pt;
					width: 93%;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;

					&:before {
						position: relative;
						top: 5px;
						margin-right: 5px;
						display: inline-block;
						width: 16px;
					}
				}

				span {
					position: absolute;
					right: 5px;
					top: 50%;
					margin-top: -0.8em;
					font-size: 1em;
					text-align: right;
				}

				&:last-child, &:nth-child(3) {
					border-right-width: 1px;
				}

				&.green {
					h2:before {
						content: url('@{imgPath}map/ALB_icon_config_cargar_mapa-1.svg');
					}
				}

				&.red {
					h2:before {
						content: url('@{imgPath}map/ALB_icon_config_cargar_mapa-2.svg');
					}
				}

				&.blue {
					h2:before {
						content: url('@{imgPath}map/ALB_icon_config_cargar_mapa-3.svg');
					}
				}

				&.selected {
					background-color: @white;

					h2 {
						.lato(bold);
					}

					&.green {
						/*background-color: @green_titlebck;*/
						border-bottom-color: @green;
					}

					&.red {
						/*background-color: @red_titlebck;*/
						border-bottom-color: @red;
					}

					&.blue {
						/*background-color: @blue_titlebck;*/
						border-bottom-color: @blue;
					}
				}
			}
		}
	}

	.layersContainer {
		.layergroup {
			display: none;

			&.selected {
				display: block;
			}

			.layerItemGroup {
				/*margin-top: 4px;*/
				background-color: @white;

				&:first-child {
					.content {
						border-top: none;
					}

					.groupName {
						border-top: none;

						& + .content {
							border-top: 1px solid @grey_5;
						}
					}
				}

				.groupName {
					border-style: solid;
					border-width: 1px 0 0 0;
					border-top-color: @grey_5;

					h3 {
						text-align: center;
						padding: 19px;
						cursor: pointer;

						span {
							color: @grey_groupTitleNumber;
							font-size: 0.8em;
							margin-left: 1em;
						}
					}

					.toggle_btn {
						float: right;
						border-left: 1px solid #e0e0e1;
						padding: 20px;

						span { display: none; }

						&:after {
							content: url('@{imgPath}catalogue/ALB_icon_colapsable_abierto.svg');
							display: block;
						}

						&.contracted:after {
							content: url('@{imgPath}catalogue/ALB_icon_colapsable_cerrado.svg');
						}
					}

					.button {
						float: right;
						border: none;
						padding: 20px;

						&:hover {
							background-color: inherit;
							color: inherit;
						}
					}

					&:after {
						content: "";
						display: block;
						clear: both;
					}

					& + .content {
						border-top-color: @grey_5;
					}
				}

				.content {
					border-top: 1px solid;
					max-height: 9999px;
					overflow: hidden;
					transition: max-height 1s ease;

					&.contracted {
						max-height: 0;
					}

					.layerItem {
						border-bottom: 1px solid @tabs_separator;
						background-color: @white;
						transition: background-color .3s ease;

						&:last-child {
							border-bottom: none;
						}

						.title, .info {
							padding: 0 10px 0 54px;
						}

						.title {
							color: @grey_header_dark;
							font-size: 13pt;

							.name {
								padding: 20px 0 20px;
								position: relative;
								cursor: pointer;

								&:before {
									content: "";
									display: block;
									width: 8px;
									height: 8px;
									border-radius: 4px;
									position: absolute;
									left: -20px;
									top: 28px;
								}

								.info_btn {
									opacity: 0;
									transition: opacity .3s ease;
									position: relative;
									margin-left: 10px;
									top: 3px;
								}
							}

							.actions {
								padding: 20px 0 10px;
								text-align: right;

								.button {
									padding: 4px 8px;
									margin-left: 15px;
									border-radius: 2px;
									font-size: 0.7em;
									.lato(bold);
									text-transform: uppercase;
									display: inline-block;
									overflow: hidden;

									span {
										.lato(bold);
									}

									@media (max-width: 1023px) {
										.noLowRes {
											display: none;
										}
									}

									&:first-of-type {
										margin-left: 0;
									}

									&.add_btn {
										border: 1px solid;
										transition: all .5s ease;
										white-space: nowrap;
										max-width: 162px;
										color: @white;

										@media (max-width: 1023px){
											transition: border-color .5s ease, background-color .5s ease;
										}

										&:before {
											content: url('@{imgPath}catalogue/ALB_icon_capa_toc.svg');
											margin-right: 5px;
											position: relative;
											top: 4px;
										}

										&.add {
											background-color: @white;
											max-width: 310px;

											&:before {
												top: 1px;
											}
										}
									}

									&.metadata_btn {
										background-color: @grey_groupTitleNumber;
										border: 1px solid @grey_groupTitleNumber;
										color: @white;
										&:after{
											content: url('@{imgPath}catalogue/ALB_icon_enlace_externo.svg');
											margin-left: 5px;
											position: relative;
											top: 4px;
										}
									}
								}
							}
						}

						li {
							&.green {
								.title .name:before {
									background-color: @green;
								}

								.button.add_btn {
									border-color: @green;
									background-color: @green;

									&.add {
										color: @green;

										&:before {
											content: url('@{imgPath}catalogue/ALB_icon_anadir_capa_1.svg');
										}
									}
								}
							}

							&.red {
								.title .name:before {
									background-color: @red;
								}

								.button.add_btn {
									border-color: @red;
									background-color: @red;

									&.add {
										color: @red;

										&:before {
											content: url('@{imgPath}catalogue/ALB_icon_anadir_capa_2.svg');
										}
									}
								}
							}

							&.blue {
								.title .name:before {
									background-color: @blue;
								}

								.button.add_btn {
									border-color: @blue;
									background-color: @blue;

									&.add {
										color: @blue;

										&:before {
											content: url('@{imgPath}catalogue/ALB_icon_anadir_capa_3.svg');
										}
									}
								}
							}
						}

						.info {
							max-height: 0;
							color: @grey_infoLayerText;
							padding-bottom: 0;
							font-size: 0.95em;
							line-height: 1.2em;
							overflow: hidden;
							transition: max-height .5s ease, padding .5s ease;

							&.show {
								max-height: 200px;
								padding-bottom: 42px;
							}

							.source {
								font-size: 0.8em;

								& > div:first-of-type p {
									text-transform: uppercase;
									.lato(bold);
									color: @grey_groupTitleNumber;
								}

								& > div:last-of-type {
									font-size: 1.05em;

									@media (max-width: 980px){
										padding-left: 2em;
									}
								}
							}
						}

						&:hover {
							background-color: @grey_layerHover;

							.title .name .info_btn {
								display: inline-block;
								opacity: 1;
							}
						}
					}
				}
			}

			&.green {
				.groupName {
					border-top-color: @green;
				}

				.content .layerItem .title {

					.name:before {
						background-color: @green;
					}

					.button.add_btn {
						background-color: @green;
						border-color: @green !important;

						&.add {
							color: @green;

							&:before {
								content: url('@{imgPath}catalogue/ALB_icon_anadir_capa_1.svg');
							}
						}
					}
				}
			}

			&.red {
				.groupName {
					border-top-color: @red;
				}

				.content .layerItem .title {

					.name:before {
						background-color: @red;
					}

					.button.add_btn {
						background-color: @red;
						border-color: @red !important;

						&.add {
							color: @red;

							&:before {
								content: url('@{imgPath}catalogue/ALB_icon_anadir_capa_2.svg');
							}
						}
					}
				}
			}

			&.blue {
				.groupName {
					border-top-color: @blue;
				}

				.content .layerItem .title {

					.name:before {
						background-color: @blue;
					}

					.button.add_btn {
						background-color: @blue;
						border-color: @blue !important;

						&.add {
							color: @blue;

							&:before {
								content: url('@{imgPath}catalogue/ALB_icon_anadir_capa_3.svg');
							}
						}
					}
				}
			}
		}
	}
}

.layerForm {
	padding-top: 30px;

	.type {
		background-color: @white;
		color: @ocre;
		border-bottom: 1px solid @ocre;
		text-align: center;
		margin-bottom: 40px;
		transition: background-color .3s ease;
		cursor: pointer;

		&:hover {
			background-color: fade(@ocre, 10%);
		}

		a {
			text-transform: uppercase;
			font-size: 8pt;
			.lato(bold);

			&:before {
				content: "";
				background-size: cover;
				height: 15px;
				width: 15px;
				display: inline-block;
				margin-right: 6px;
				position: relative;
				top: 3px;
			}

			&.sighting:before {
				background-image: url('@{imgPath}participa/ALB_icon_historias_avista.svg');
			}

			&.goodpractices:before {
				background-image: url('@{imgPath}participa/ALB_icon_historias_buenas.svg');
			}
		}
	}

	fieldset {
		position: relative;
		margin-bottom: 20px;
		/*text-align: center;*/

		legend {
			text-align: center;
			text-transform: uppercase;
			.lato(bold);
			font-size: 0.75em;
			width: 100%;
			background-color: @grey_light;
			color: @grey_header_dark;

			&:before, &:after {
				content: "";
				display: block;
				position: absolute;
				top: 1em;
				left: 0;
				width: 42%;
				border-top: 1px solid @grey_footer;
			}

			&:after {
				left: auto;
				right: 0;
			}
		}

		div.row.input {
			margin-bottom: 25px;
			min-height: 50px;

			label {
				text-transform: uppercase;
				.lato(regular);
				font-size: 0.75em;
				width: 100%;
				color: @grey_4;
			}

			select {
				width: 100%;
				margin: 10px 0;
				font-size: .9em;
			}

			.withButton {
				select {
					width: calc(~'100% - 10px - 2em');
				}

				a {
					max-width: 2em;
					margin-left: 10px;
					display: inline-block;
					vertical-align: top;
					position: relative;
					top: 6px;

					img {
						max-width: 100%;
					}
				}
			}

			a.disabled {
				opacity: .5;
				cursor: default;
			}

			input[type="checkbox"] {
				vertical-align: middle;
				margin-right: 5px;

				& + label {
					text-transform: none;
				}
			}

			input[type="text"], textarea {
				width: calc(~'100% - 10px - 2em');
				padding: 18px;
				text-align: center;
				border: 1px solid @grey_footer;
				color: @grey_header_dark;
				outline: none;

				&#wmsserver{
					width: calc(~'100% - 10px - 2em - 135px');
				}

				&:focus {
					outline: none;
				}

				&::-webkit-input-placeholder {
					color: @grey_footer;
				}

				&:-moz-placeholder {
					color: @grey_footer;
				}

				&::-moz-placeholder {
					color: @grey_footer;
				}

				&:-ms-input-placeholder {
					color: @grey_footer;
				}

				&.localized {
					margin-bottom: 10px;

					& + label {
						font-size: 1.1em;
						width: 2em;
						margin-left: 10px;
						vertical-align: top;
						position: relative;
						top: 16px;
					}
				}

				&.withAction {

					& + a {
						max-width: 2em;
						margin-left: 10px;
						display: inline-block;
						vertical-align: top;
						position: relative;
						top: 16px;

						img {
							max-width: 100%;
						}
					}
				}
			}

			textarea {
				.lato(regular);
				text-align: left;
				min-height: 300px;
				resize: none;
			}

			input[type="radio"] {
				display: none;

				& + label {
					.lato(bold);
					font-size: 10pt;
					text-transform: none;
					margin-right: 20px;
					color: @grey_5;

					&:before {
						content: "";
						display: inline-block;
						margin-right: 5px;
						width: 8px;
						height: 8px;
						border-radius: 4px;
						background-color: @grey_5;
						position: relative;
						top: -2px;
					}
				}

				&:checked {
					& + label {
						&.green {
							color: @green;

							&:before {
								background-color: @green;
							}
						}

						&.red {
							color: @red;

							&:before {
								background-color: @red;
							}
						}

						&.blue {
							color: @blue;

							&:before {
								background-color: @blue;
							}
						}
					}
				}
			}

			.separator {
				border-right: 1px solid @grey_footer;
			}

			.position_btn {
				margin-top: 20px;
				display: inline-block;

				span {
					color: @grey_header_dark;
					font-size: 0.9em;
					border-bottom: 1px solid @grey_5;
				}

				&:before{
					content: "";
					background: url('@{imgPath}participa/ALB_icon_obtener_coordenadas.svg') no-repeat;
					background-size: contain;
					display: inline-block;
					width: 20px;
					height: 20px;
					position: relative;
					top: 3px;
				}
			}

			#filelist {
				text-align: left;

				li {
					position: relative;
					color: @grey_header_dark;
					border-bottom: 1px solid @grey_footer;
					padding-bottom: 10px;
					margin-bottom: 10px;

					.deleteFileEntry {
						position: absolute;
						right: 0;
						cursor: pointer;
					}
				}
			}
		}

		.info {
			padding-top: 3px;
			text-align: left;

			& > a {
				opacity: 0.5;
				transition: opacity .3s ease;

				&:hover {
					opacity: 1;
				}
			}

			.content {
				display: none;
				font-size: 0.75em;
				line-height: 1.2em;
			}
		}

		.explore{
			background-color: #fff;
			border: 2px solid #909499;
			color:#909499;
		    padding: 19px 50px;
			font-size: .75em;
			font-weight: 700;
			font-style: normal;
			font-family: 'latobold',sans-serif;
		    margin-left: 10px;
		    text-transform: uppercase;
        	font-family: 'latobold',sans-serif;
    	    border-radius: 2px;
    	    opacity: .3;
    	    cursor: inherit;

    	    &.active{
    	    	cursor: pointer;
    	    	opacity: 1;
    	    }
		}

		.geoserver{
			background-color: #fff;
			border: 2px solid #909499;
			color:#909499;
		    padding: 19px 50px;
			font-size: .75em;
			font-weight: 700;
			font-style: normal;
			font-family: 'latobold',sans-serif;
		    margin-top: 10px;
		    text-transform: uppercase;
        	font-family: 'latobold',sans-serif;
    	    border-radius: 2px;
    	    width: 100%;
		}
	}

	.sendButtons {
		padding-bottom: 90px;
		padding-top: 64px;
		text-transform: uppercase;

		a {
			margin-right: 120px;
			display: inline-block;
			font-size: .75em;
			.lato(bold);

			&:last-child {
				margin-right: 0;
			}
		}

		.cancel_btn {
			padding-top: 10px;
			border-bottom: 1px solid transparent;
			transition: color .3s ease, border-color .3s ease;
			&:hover {
				color: @grey_header_dark;
				border-bottom-color: @grey_5;
			}
		}

		#enviar_btn {
			padding: 10px 50px;

			span {
				.lato(bold);
			}
		}

		#borrar_btn {
			margin-top: 5px;

			span {
				.lato(bold);
			}
		}
	}
}

/*#wmsLayers{*/
	.layerList{
		overflow: auto;
    	max-height: 500px;
    	ul{
    		li{
    			padding: 10px 0;
    			border-bottom: 1px solid #e0e0e1;
			    transition: background-color .3s ease;
			    cursor: pointer;

			    &:hover{
		    	    background-color: #f4f4f4;
			    }

			    &:first-of-type{
			    	border-top: 1px solid rgb(43, 48, 51);
			    }
			    &:last-of-type{
			    	border-bottom: 1px solid rgb(43, 48, 51);
			    }
				
				span{
					font-size: 15px;
				    font-weight: bold;
				}
			    p{
			    	font-size: 13px;
			    }
    		}
    	}
	}
/*}*/

#geoserverPopup{
	h2{
		font-weight: 100;
		font-style: italic;
		font-family: "latolight_italic",sans-serif;
		text-align: center;
		font-size: 24px;
		margin-top: 30px;
		margin-bottom: 25px;
	}

	input[type="text"]{
		border: 2px solid #CACBCC;
		margin-left: 40px;
		margin-top: 10px;
		width: 560px;
		height: 50px;
		text-align: center;
		color: #CACBCC;
		font-size: 18px;
		
		&.error{
			border: 1px solid red;
		}
	}

	input[type="file"]{
		display: none;
	}

	input[type="button"]{
		margin-bottom: 0;
	}

	select{
		margin-left: 40px;
		width: 560px;
	    font-size: .9em;
	}

	span{
		cursor: pointer;
		text-transform: uppercase;
	    font-size: 0.75em;
	    display: block;
	    margin-left: 40px;
	    color: #2b3033;
	    font-weight: 700;
        margin-left: 40px;
        margin-top: 10px;
        position: relative;
		&:after{
			content: url('@{imgPath}participa/ALB_icon_add_img.svg');
			position: absolute;
		    left: 200px;
			opacity: .5;
		}

		&.error{
			color:red;
		}
	}

	p{
		font-weight: 700;
		font-size: 0.75em;
		margin-left: 40px;
        margin-top: 10px;

        &.problem{
        	color:red;
        }

        &.creating{
			text-align: center;
			padding-top: 8px;
			text-transform: uppercase;
        }
	}
}

#meta_data_options_popup{
	position: absolute;
    bottom: 25px;
    background-color: #fff;
    padding: 3px 10px;
    font-size: 14px;
    right: -39px;
    border: 1px solid #cacbcc;

    a{
    	display: block;
    	&:hover{
	    	text-decoration: underline;
    	}
    }
}
