#map{
	&.pointer{
		cursor: pointer;
	}
}

.map_tool{
	width: 34px;
	height: 34px;
	background-color: @grey3;
	border:1px solid @grey4;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px;
	&.zoom_out{
		position: absolute;
		z-index: 1;
		right: 10px;
		top: 83px;
		background-image: url('/img/icon-extent.svg');
	}
}

#map_tools{
	position: absolute;
	z-index: 1;
	top: 16px;
	display: flex;
	left: 50%;
	transform: translateX(-50%);
	border:1px solid @grey4;
	box-shadow: 0 0 8px rgba(0,0,0,0.4);
	.map_tool{
		border: none;
		border-right:1px solid @grey4;
    &.active{
    	background-color:@grey4; 
    }
		&:last-child{
			border:none;
		}
		&.coords{
			background-image: url('/img/icon-coordenadas.svg');
		}
		&.mini_map{
			background-image: url('/img/icon-minimap.svg');
		}
		&.measure_area{
			background-image: url('/img/icon-area.svg');	
		}
		&.measure_dist{
			background-image: url('/img/icon-distancia.svg');		
		}
		&.print{
			background-image: url('/img/icon-print.svg');
		}
		&.feature_info{
			background-image: url('/img/icon-info-popup.svg');
		}
	}
}

.coords_popup{
	.leaflet-popup-close-button, .leaflet-popup-tip-container{
		display: none;
	}
	.leaflet-popup-content-wrapper{
		background-color:@blue_light_med;
		color:@white;
		font-size: 12px;
	}
}

.scaleNumeric{
	position: absolute;
	right: 272px;
	bottom: 27px;
	box-shadow: 0 0 8px rgba(0,0,0,0.4);
	&:hover{
		ul{
			opacity: 1;
			pointer-events: all;
		}
	}
	span{
		font-size: 14px;
		color:#17355b;
		background-color: @grey3;
		border:1px solid @grey4;
		padding: 7px;
		cursor: pointer;
		width: 121px;
		display: block;
		&:after{
			content: '';
			display: inline-block;
			width: 0; 
			height: 0; 
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-bottom: 5px solid #000;
			position: relative;
			top: 8px;
			margin-left: 10px;
			float: right;
		}
	}
	ul{
		opacity: 0;
		pointer-events: none;
		transition: opacity .15s linear;
		position: absolute;
		bottom: 36px;
		background-color: @grey3;
		border:1px solid @grey4;
		width: 100%;
		li{
			font-size: 12px;
			color:@grey_footer_dark;
			padding: 6px;
			cursor: pointer;
			&:hover{
				background-color: @grey4;
			}
		}
	}
}

.leaflet-control-overview{
	border-radius: 0;
	opacity: 1;
	transition: opacity .25s linear;
	&.hidden{
		opacity: 0;
	}
	.leaflet-control-overview-map{
		border-radius: 0;
		border: 1px solid @blue_med;
		width: 250px;
		height: 250px;
	}
}

.leaflet-draw-tooltip-subtext{
	color:@white;
}

#container_feature_info{
	table.featureInfo{
		caption{
			color:@blue_med;
			font-weight: bold;
			font-size: 16px;
			margin-bottom: 20px;
		}
		th,td{
			padding: 4px 10px;;
		}
		th{
			font-size: 15px;
			color:@white;
			font-weight: bold;
			background-color: @blue_med;
		}
		td{
			text-align: center;
			font-size: 12px;
		}
	}
}

.leaflet-control-zoom{
	box-shadow: none;
	.leaflet-control-zoom-in,.leaflet-control-zoom-out, .leaflet-control-zoom-in:hover,.leaflet-control-zoom-out:hover{
		border-radius: 0 !important;
		background-color: @grey3;
		color:@grey_footer_dark ;
		border: 1px solid @grey4;
		width: 34px;
		height: 34px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 24px;
	}
	.leaflet-control-zoom-in, .leaflet-control-zoom-in:hover{
		border-bottom: none  !important;
	}
	.leaflet-control-zoom-out, .leaflet-control-zoom-out:hover{
		border-bottom: 1px solid @grey4 !important;	
	}
}

.leaflet-control-scale{
	position: absolute;
  right: 392px;
	bottom: 22px;
	z-index: 1;
	.leaflet-control-scale-line{
		border-color: @grey_footer_dark;
	}
}


.leaflet-control-layers{
	position: fixed;
	left: 50%;
	top: 96px;
	box-shadow: none;
  transform: translateX(-164px);
	&.leaflet-control-layers-expanded{
		padding: 0;
		background: none;
		box-shadow: none;
		.leaflet-control-layers-toggle{
			display: block;
		}
		.leaflet-control-layers-list{
			width: 115px;
			font-size: 12px;
			border:1px solid @grey4;
			top: -1px;
	    right: calc(100% - 31px);

			input[type="radio"]{
				display: none;
			}
			input[type="radio"]:checked + span{
				color:@blue_med;
			}
			.leaflet-control-layers-base{
				label{
					background-color: @grey3;
					border-bottom:1px solid @grey4;
					padding: 5px 10px;
					&:last-child{
						border: none;
					}
				}
			}
		}
	}
	.leaflet-control-layers-toggle{
		background-image: url('/img/icon-mapabase.svg');
		box-shadow: 0 0 8px rgba(0,0,0,0.4);
		background-color: @grey3;
		border:1px solid @grey4;
	}
}

#legend{
		position: absolute;
		z-index: 1;
		left: 10px;
		bottom: 10px;
		width: 200px;
		height: 35px;
		background-color: @blue_med;
		display: flex;
		align-items: center;
		justify-content: center;
		color:@white;
		cursor: pointer;
		transition: left .3s linear;
		font-size: 14px;
		&.left{
			left: 330px;
		}
		&:before{
			content: '';
			display: inline-block;
			width: 0; 
			height: 0; 
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-bottom: 5px solid @white;
			position: absolute;
			left: 12px;
			top: 15px;
		}
		ul{
			position: absolute;
			width: 100%;
			bottom: 35px;
			left: 0;
			background-color: @white;
			opacity: 0;
			pointer-events: none;
			transition: opacity .25s linear;
			max-height: ~"calc(100vh - 250px)";
    	overflow-y: auto;
			&.active{
				opacity: 1;
				pointer-events: all;
			}
			li{
				&:first-child{
					padding-top: 10px;
				}
				&:last-child{
					padding-bottom: 10px;
				}
				color:@grey_footer_dark;
				font-size: 12px;
				padding: 0 10px;
				img{
					max-width: 100% !important;
				}
			}
		}
	}

.leaflet-control-zoom-display{
	display: none;
}

.leaflet-print-print{
	display: none !important;
}

#print_popup{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: red;
  z-index: 99999;
  background-color: rgba(12, 78, 118, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	pointer-events: none;
	transition: opacity .25s linear;
	&.active{
		opacity: 1;
		pointer-events: all;
	}
  .content{
  	background-color: @white;
  	padding: 0 16px;
  	position: relative;
  	.close{
  		width: 20px;
  		height: 20px;
  		position: absolute;
  		right: 0;
  		z-index: 1;
  		background-color:@blue_med;
  		background-image: url('/img/icono-cerrar-blanco.svg');
  		background-size: cover;
  		cursor: pointer;
  	}
  	h3{
  		font-size: 16px;
  		font-weight: 400;
  		color:@blue_med;
  		margin-top: 26px;
  	}
  	input[type="text"], textarea{
  		border: 1px solid @grey4;
  		width: 100%;
  		outline:none;
  	}
  	input[type="text"]{
  		height: 25px;
  		margin-top: 15px;
  		color:#000;
  	}
  	textarea{
  		resize: none;
  		margin-top: 6px;
  		height: 73px;
  		padding: 10px;
  	}
  	#print_map{
  		width: 780px;
  		height: 380px;
  		transition: width .25s linear, height .25s linear;
  		&.portrait{
  			width: 530px;
  			height: 483px;
  		}
  	}
  	.page_size{
  		background-color: @grey3;
			border:1px solid @grey4;
			height: 34px;
			margin-top: 14px;
  	}
  	.print_button{
  		outline:none;
	    padding: 10px 30px;
	    background-color:@blue_med;
	    color:@white;
	    margin-top: 12px;
	    float: right;
	    margin-bottom: 14px;
  	}
  }
}