#progress{
  .row{
    padding: 10px 0;
    border-bottom: 1px solid @tabs_separator;
    display: flex;
    align-items: center;
    &:first-of-type{
      color:@blue_med;
      border-bottom: 1px solid @blue_med;
    }
  }
}
