@imgPath : '../img/';
@fontPath : '/fonts/';

@font-face {
    font-family: 'latoblack';
    src: url('@{fontPath}lato-bla-webfont.eot');
    src: url('@{fontPath}lato-bla-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{fontPath}lato-bla-webfont.woff') format('woff'),
         url('@{fontPath}lato-bla-webfont.ttf') format('truetype'),
         url('@{fontPath}lato-bla-webfont.svg#latoblack') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'latobold';
    src: url('@{fontPath}lato-bol-webfont.eot');
    src: url('@{fontPath}lato-bol-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{fontPath}lato-bol-webfont.woff') format('woff'),
         url('@{fontPath}lato-bol-webfont.ttf') format('truetype'),
         url('@{fontPath}lato-bol-webfont.svg#latobold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'latolight';
    src: url('@{fontPath}lato-lig-webfont.eot');
    src: url('@{fontPath}lato-lig-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{fontPath}lato-lig-webfont.woff') format('woff'),
         url('@{fontPath}lato-lig-webfont.ttf') format('truetype'),
         url('@{fontPath}lato-lig-webfont.svg#latolight') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'latolight_italic';
    src: url('@{fontPath}lato-ligita-webfont.eot');
    src: url('@{fontPath}lato-ligita-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{fontPath}lato-ligita-webfont.woff') format('woff'),
         url('@{fontPath}lato-ligita-webfont.ttf') format('truetype'),
         url('@{fontPath}lato-ligita-webfont.svg#latolight_italic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'latoregular';
    src: url('@{fontPath}lato-reg-webfont.eot');
    src: url('@{fontPath}lato-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{fontPath}lato-reg-webfont.woff') format('woff'),
         url('@{fontPath}lato-reg-webfont.ttf') format('truetype'),
         url('@{fontPath}lato-reg-webfont.svg#latoregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'latoitalic';
    src: url('@{fontPath}lato-regita-webfont.eot');
    src: url('@{fontPath}lato-regita-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{fontPath}lato-regita-webfont.woff') format('woff'),
         url('@{fontPath}lato-regita-webfont.ttf') format('truetype'),
         url('@{fontPath}lato-regita-webfont.svg#latoitalic') format('svg');
    font-weight: 400;
    font-style: italic;
}

@roboto : 'Roboto', sans-serif;
@roboto_cond : 'Roboto Condensed', sans-serif;
@lato : 'latoregular', sans-serif;
@lato_italic: 'latoitalic', sans-serif;
@lato_light : 'latolight', sans-serif;
@lato_light_italic : 'latolight_italic', sans-serif;
@lato_bold: 'latobold', sans-serif;
@lato_black : 'latoblack', sans-serif;

/* Color palette */
@grey_light: #e7e7ea;
@grey_dark: #28282b;
@grey2: #5e5e62;
@yellow : #fdc300;
@orange : #ff9000;

@green : #009966;
@red : #ff3300;
@blue : #018be2;
@blue_light : #accee4;
@blue_trans: rgba(144, 189, 219, .3);
@white :#fff;
@black: #000;
@grey : #909499;
@grey_light: #e9eaea;
@grey_trans: rgba(106, 112, 120, .35);
@bluegrey: #6a7078;
@bluegrey_light: #7d8389;
@bluegrey_header : #9bc3df;
@bluegrey_header_light: #a4c9e2 ;
@grey_header_dark: #2b3033;
@grey_footer: #cacbcc;
@grey_footer_dark: #2c3034;
@grey_4: #697077;
@grey_5: #909599;
@grey_6: #f2f2f2;
@pink: #ff3366;
@ocre: #cc9900;

html, body{ height:100%;}
body {
	.lato(regular);
	color:@grey;
	font-size:16px;
	line-height:24px;
}

p,span,div,table{
	.lato(regular);
}

input{
	padding: 0 10px;
	border: none;
	
}
input[placeholder]{
	.lato(regular);
	color:@grey_light;
}

.grey{ color: @grey;}
.grey_light {color: @grey_light;}
.red { color : @red;}
.blue { color: @blue;}
.green { color: @green;}
.blue_light { color: @blue_light;}
.bluegrey {color: @bluegrey;}
.bluegrey_light {color: @bluegrey_light;}

/* Fonts */

/* @style = light, lightitalic, regular, italic, bold, black */ 
.lato(@style) when(@style=regular){
	font-weight:400;
	font-style: normal;
	font-family: @lato;
}

.lato(@style) when(@style=italic){
	font-weight: 400;
	font-family: @lato_italic;
	font-style: italic;
}

.lato(@style) when(@style=light){
	font-weight:100;
	font-style: normal;
	font-family: @lato_light;
}

.lato(@style) when(@style=lightitalic){
	font-weight:100;
	font-style: italic;
	font-family: @lato_light_italic;
}

.lato(@style) when(@style=bold){
	font-weight: 700;
	font-style: normal;
	font-family: @lato_bold;
}

.lato(@style) when(@style=black){
	font-weight:900;
	font-style: normal;
	font-family: @lato_black;
}

strong {
	.lato(bold);

	&.black {
		.lato(black);
	}
}

i {
	.lato(italic);

	&.light {
		.lato(lightitalic);
	}
}

.text_bold{ .lato(bold);}



.uppercase{ text-transform: uppercase;}
.center {display: block; margin: 0 auto;}

#content {padding-top: 72px;}

header {
	border-bottom: 1px solid #84a4b9;
	height: 71px;
	position: fixed;
	z-index: 1;
	width: 100%;
}

/* Menu ppal */
body > header {
	color: @grey_header_dark;

	@media (max-width: 1023px) {
		padding-left: 30px;
	}

	&:last-of-type {
		background-color: @bluegrey_header;
		height: 72px;
	}

	#uppermenu {
		font-size: 0.7em;
		background-color: @bluegrey_header_light;
		border-bottom: 1px solid @blue_light;
		height: 25px;
		
		& > * {
			position: relative;
			top: 1px;
		}

		span {
			margin-right: 7px;
		}

		.login {
			font-weight: bold;

			&:after {
				content: url('@{imgPath}home/ALB_icon_usuario.svg');
				margin-left: 10px;
				position: relative;
				top: 3px;
			}
		}

		.row div:last-child {
				text-align: right;
		}

		ul li {
			margin-right: 7px;
		}
	}

	ul {
		display: inline-block;

		li {
			display: inline-block;

			&.selected {
				border-bottom: 1px solid @pink;
				font-weight: bold;
			}
		}
	}

	nav .container {
		height: 56px;

		#mainmenu {
			height: 44px;
			font-size: 1.1em;

			@media (max-width: 1023px) {
				font-size: 0.9em;
			}

			& > div {				
				&:first-child {
					text-align: left;

					ul li {
						width: 28%;
						text-align: center;
					}
				}

				&:last-child {
					text-align: right;

					ul li {
						width: 32%;
					}
				}

				ul {
					list-style: none;
					padding-top: 11px;
					width: 100%;

					li {
						display: inline-block;
						vertical-align: top;
						white-space: nowrap;

						&.selected {
							border: none;
							
							a {
								padding-bottom: 9px;
								border-bottom: 5px solid @pink;

								@media (max-width: 1023px) {
									padding-bottom: 11px;
								}
							}
						}

						&.home {
							height: 26px;
							width: 36px;
							overflow: hidden;

							&.selected {
								background-color: @white;

								a:after {
									content:url('@{imgPath}home/ALB_icon_home_marcado.svg');
								}
							}

							a {
								span {display: none;}

								&:after{
									content:url('@{imgPath}home/ALB_icon_home.svg');
								}
							}
						}

						&.alboran {
							position: relative;
							top: -11px;
						}
					}
				}

				&.title {
					position: relative;
					top: -25px;
					font-size: 0.75em;
					line-height: 1.85em;
					text-align: center;
					background-color: @pink;
					padding: 10px 0 20px;
					min-height: 82px;
					max-height: 90px;

					.highlight {
						color: @white;
						font-size: 1.6em;
						white-space: nowrap;
					}
				}
			}
		}
	}
}

/* Control de Mapa */
#map_control {
	cursor:pointer;
	position: fixed;
	left: 0;
	top: 0;

/* 	width: 40px; */

	background-color: @grey_footer_dark;
	box-shadow: 0 0 4px 0 rgba(0,0,0,.75);

	font-size: 0.7em;
	text-align: center;

	img {
		display: block;
		padding: 4px 12px 4px 8px;
		border-bottom: 1px solid @grey_trans;
		margin-bottom: 1px;
/* 		float: left; */
	}
	
	.title{
		font-size: 11px;
		color: #CACBCF;
		background-color: #2c3034;
		width: 252px;
		text-align: left;
		display: none;
	}
	
/* 	.title:AFTER{ */
/* 		content: url('../img/map/ALB_icon_config_toc.svg'); */
/* 		position: relative; */
/* 		top: 2px; */
/* 		right: 0px; */
/* 		float: right; */
/* 		margin-right: 10px; */
/* 	} */

	.groupLauyerConfig{
		position: relative;
		top: 0px;
		right: 0px;
		border: none;
		float: right;
		display: none;
		height: 22px;
		margin-right: -3px;
		padding-left: 11px;
		padding-top: 6px;
	}

	.value {
		padding: 0 4px;
		border-radius: 7px;
		color: @white;

		&.green {
			background-color: @green;
		}

		&.red {
			background-color: @red;
		}

		&.blue {
			background-color: @blue;
		}
	}
}

#groupLayer{
	height: 100%;
	background-color: rgba(57, 64, 72, 0.9);
	position: fixed;
	top: 24px;
	left: -320px;
	width: 320px;
	z-index: 10001;
	display: none;
	
	.panel{
		cursor: move;
		margin:10px;
		background-color: white;
		border-radius: 2px 2px 4px 4px;
		font-size: 13px;	
	}
	
	.panel li{
		border-bottom: 1px solid #e1e2e4;
		padding-left: 10px;
		line-height: 28px;
		color: #909499;
		
		.icon{
			float:right;
			padding: 7px 7px 5px 7px;
			border-left: 1px solid #cacbcc;
			cursor: pointer;
			display: none;
			
		}
		.removeLayer{
			padding: 9px 7px 7px 7px;
		}
		
		p{
			max-width: 200px;		
		}
	}

	.panel li:BEFORE{
		content: ' \25CB';
		font-size: 18px;
		float: left;
		padding-right: 10px;
		
	}
	
	.panel .green:BEFORE{
		color:#009966;
	}
	
	.panel .red:BEFORE{
		color:#ff3300;
	}
	
	.panel .blue:BEFORE{
		color:#018be2;
	}
	
	.green li:BEFORE{
		color:#0d9e6e;
	}
	
	.red li:BEFORE{
		color:#ff3300;
	}
	
	.blue li:BEFORE{
		color:#018be2;
	}
	
	.panel .active {
		color: #2b3033;
	}
	
	.panel .active:BEFORE{
		content: ' \25CF';
	}
	
	.panel li:LAST-CHILD{
		border-bottom:none;
		border-radius: 0 0 4px 4px;
		color: white;
		cursor: pointer;
		background-color: #909599;
	}
	
	.panel li:LAST-CHILD:BEFORE{
		content: none;
	}
	
	.panel li:last-child:after{
		content: url('../img/map/ALB_icon_anadir_capa.svg');
		float: right;
		margin-right: 10px;
	}
	
	.panel li:FIRST-CHILD:BEFORE{
		content: none;
	}
	
	.panel li:FIRST-CHILD{
		background-color: @grey_light;
/* 		border-bottom: 1px solid #009966 !important; */
		color: #2b3033;
		cursor: initial;
	}
	
/* 	.panel .green{ */
/* 		background-color: #009966; */
/* 		border-top: 1px solid #126f52; */
/* 	} */
	
	
	
/* 	.panel .green:FIRST-CHILD{ */
/* 		background-color: #d9f0e8; */
/* 		border-bottom: 1px solid #009966 !important; */
/* 		color: #009966; */
/* 		cursor: initial; */
/* 	} */
	
/* 	.panel .green{ */
/* 		background-color: #009966; */
/* 		border-top: 1px solid #126f52; */
/* 	} */
	
/* 	.panel .red:FIRST-CHILD{ */
/* 		background-color: #ffe1d9; */
/* 		border-bottom: 1px solid #ab3215 !important; */
/* 		color: #ab3215; */
/* 		cursor: initial; */
/* 	} */
	
/* 	.panel .red{ */
/* 		background-color: #ff3300; */
/* 		border-top: 1px solid #ab3215; */
/* 	} */
	
/* 	.panel .blue:FIRST-CHILD{ */
/* 		background-color: #d9eefb; */
/* 		border-bottom: 1px solid #009966 !important; */
/* 		color: #018be2; */
/* 		cursor: initial; */
/* 	} */
	
/* 	.panel .blue{ */
/* 		background-color: #018be2; */
/* 		border-top: 1px solid #12679c; */
/* 	} */
	
	.separator{
		width: 100%;
		height: 1px;
		background-color: #6a7078
	}
	
	.menuOption{
		width: 205px;
		height: 150px;
	}
	
}

/** FIX for overflow **/
.fancybox-inner {
	overflow: visible !important;
}

#loginForms {
	display:none;
	width: 640px;
	background-color: white;

	.header{
		margin: auto;
		width: 200px;
		text-align: center;
		padding: 10px 10px 20px;
		background-color: @pink;
		color:@grey_header_dark;
		font-size: 14px;
		position: relative;
		top: -10px;
		
		.highlight {
			color: @white;
			font-weight: bold;
			font-size: 16pt;
		}
	}

	.loginForm{

		&.hidden {
			display: none;
		}
		
		div:first-child{
			font-size: 24px;
			color:@grey_4;
			font-style: italic;
			font-weight: 600;
			text-align:center;
			margin-top: 30px;
			margin-bottom: 25px;

			h2 {
				.lato(lightitalic);
			}

			span {
				color: @pink;
				.lato(regular);
				font-size: 0.75em;
			}
		}

		input{
			border: 2px solid @grey_footer;
			margin-left: 40px;
			margin-top: 10px;
			width: 560px;
			height: 50px;
			text-align: center;
			color:@grey_footer;
			font-size: 18px;

			&.invalid{
				border: 1px solid red;
			}
		}
		input[type='text']:FOCUS{
			color:@grey_header_dark;
		}
		
		input[type='button']{
			background-color: @grey_5;
			border: none;
			color: white;
			.lato(bold);
			text-transform: uppercase;
			font-size: 0.8em;

			&.extraMargin {
				margin-bottom: 30px;
			}
		}

		.legal {
			.lato(bold);
			font-size: 0.8em;
			text-align: center;
			margin: 10px 0 30px;
			color: @grey_5;

			a {
				color: @black;
				border-bottom: 1px solid @black;
			}
		}
		.footer{
			width: 640px;
			height: 110px;
			background-color: @grey_light;
			border-top: 1px solid @grey_footer;
			display: table-cell;
			vertical-align: middle;
			
			p{
				font-size:18px;
				color:@grey_4;
				text-align: center;

				&:before {
					content: url('@{imgPath}home/ALB_icon_usuario.svg');
					display: inline-block;
					margin-right: 10px;
				}

				a {
					color: @black;
					border-bottom: 1px solid @black;
				}
			}
		}

		.error{
			color:red;
			text-align: center;
			margin-top: 10px;
			display: none;
		}
	}
}

.msgPopup {
	display: none;

	.header {
		margin: auto;
		width: 200px;
		text-align: center;
		padding: 10px 10px 20px;
		background-color: @pink;
		color:@grey_header_dark;
		font-size: 14px;
		position: relative;
		top: -10px;
		
		.highlight {
			color: @white;
			font-weight: bold;
			font-size: 16pt;
		}
	}

	.content{
		font-size: 24px;
		color: @pink;
		font-style: italic;
		font-weight: 600;
		text-align:center;
		margin-bottom: 25px;
		padding: 30px 40px 0;

		h2 {
			.lato(lightitalic);
		}

		p {
			color:@grey_4;
			.lato(regular);
			font-size: 0.75em;
		}
	}

	input{
		margin-left: 40px;
		margin-top: 10px;
		width: 560px;
		height: 50px;
		text-align: center;
		background-color: @grey_5;
		border: none;
		color: white;
		.lato(bold);
		text-transform: uppercase;
		font-size: 0.8em;
		margin-bottom: 30px;

		&.btn_yesno {
			display: inline-block;
			width: 40%;
		}
	}
}

#configPanelMap{
	display:none;
	position: absolute;
	top: 21px;
	left: 288px;	
	width: 223px;
	height: 115px;
	z-index: 10002;
	background-color: @grey_light;
	border-radius:2px;
	box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.4);
	
	
	p{
		font-size:12px;
		color: @grey_header_dark;
		font-weight: bold;
		padding-left: 10px;
		cursor: pointer;
	}
	
	.preconf{
		border-top: 1px solid @grey_footer;
		margin-top: 10px;
		padding-top: 10px;
		float:left;
		width: 100%;
	}
	.divImage{
		position: absolute;
		right: 0;
		bottom: 0;
		margin-bottom: 14px;
		margin-right: 10px;
	}
	img{
		cursor: pointer;
		float: left;
		margin-top: 22px;
		margin-left: 10px;
	}
	
}

#confirmSaveConfig{
	display:none;
	width: 640px;
	height: 230px;
	background-color: white;
	
	div:FIRST-CHILD{
		font-size: 24px;
		color:@grey_4;
		font-weight: 600;
		text-align:center;
		margin-top: 35px;
		margin-bottom: 25px;
	}
	
	input{
		border: 2px solid @grey_footer;
		margin-left: 40px;
		margin-top: 30px;
		width: 270px;;
		height: 50px;
		text-align: center;
		color:@grey_footer;
		font-size: 18px;
	}
	
	input[type='button']{
		background-color: @grey_5;
		border: none;
		color: white;
	}
}

/* Pie de página */
footer {
	z-index: 10002;
	color: @white;
	background-color: @grey_footer_dark;
	font-size: 10pt;
	height: 36px;
	overflow: hidden;

	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;

	@media (max-width: 1023px) {
		font-size: 0.7em;

		.noLowRes {
			display: none;
		}
	}

	.row{

		p {
			margin: 5px 0;
			white-space: nowrap;

			a {
				margin-left: 12px;
			}
		}

		i {
			color: @grey_footer;
		}

		.geographica {
			border-left: 1px solid @bluegrey;
			padding: 12px 0 12px 12px;

			&:after {
				content: url('@{imgPath}footer/ALB_logo_geographica.svg');
				position: relative;
				top: 2px;
				margin-left: 6px;
			}

			span {
				color: @grey_footer;
			}
		}

		& > div:last-child {
			text-align: right;
		}
	}
}

.fancybox-skin{
	background-color: white;
}

.ellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.oldbrowser_container {
	position: absolute;
	width: 100%;
	height: calc(~'100% - 72px');
	background-color: @grey_6;
}